## 데이터 전처리

### 관련 라이브러리 호출

In [1]:
# 관련 라이브러리를 호출합니다.
import os
import chardet
import numpy as np
import pandas as pd
import joblib

### 작업 경로 확인 및 변경

In [2]:
# 현재 작업 경로를 확인합니다.
os.getcwd()

'/Users/hdsceokevin/Documents/Lectures/Python1Basic/code'

In [3]:
# data 폴더로 작업 경로를 변경합니다.
os.chdir(path = '../data')

In [4]:
# 현재 작업 경로에 있는 폴더명과 파일명을 출력합니다.
os.listdir()

['APT_List_Seoul_2021.csv',
 'Naver_APT_Detail_Seoul.xlsx',
 'Naver_APT_Detail_Seoul.csv',
 'APT_Price_Seoul_2021.csv',
 'APT_List_Seoul_2021.xlsx',
 'KBO_Hitters_2021.xlsx',
 'KBO_Hitters_2021.csv',
 'APT_Price_Seoul_2021.xlsx',
 'APT_List_Seoul_2021.z',
 'APT_Mean_Price_Dong_2021.xlsx']

###  실습 데이터셋 준비

In [5]:
# 가격 xlsx 파일을 읽고 데이터프레임을 생성합니다.
%time price = pd.read_excel(io = 'APT_Price_Seoul_2021.xlsx')

CPU times: user 4.27 s, sys: 35.3 ms, total: 4.31 s
Wall time: 4.31 s

In [6]:
# price의 정보를 출력합니다.
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43447 entries, 0 to 43446
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역코드    43447 non-null  int64
 1   아파트     43447 non-null  object
 2   시도명     43447 non-null  object
 3   시군구     43447 non-null  object
 4   법정동     43447 non-null  object
 5   지번      43433 non-null  object
 6   거래일     43447 non-null  datetime64[ns]
 7   전용면적    43447 non-null  float64
 8   층       43447 non-null  int64
 9   거래금액    43447 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 3.3+ MB

In [7]:
# price의 처음 5행을 출력합니다.
price.head()

,지역코드,아파트,시도명,시군구,법정동,지번,거래일,전용면적,층,거래금액
0,11170,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,"87,500"
1,11305,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,"24,300"
2,11380,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,"77,000"
3,11380,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,"68,000"
4,11380,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,"68,000"

In [8]:
# 상세정보 xlsx 파일을 읽고 데이터프레임을 생성합니다.
%time detail = pd.read_excel(io = 'Naver_APT_Detail_Seoul.xlsx')

CPU times: user 1.28 s, sys: 7.18 ms, total: 1.29 s
Wall time: 1.29 s

In [9]:
# detail의 정보를 출력합니다.
detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아파트ID   9668 non-null   int64
 1   아파트명    9668 non-null   object
 2   지번주소    9668 non-null   object
 3   위도      9668 non-null   float64
 4   경도      9668 non-null   float64
 5   세대수     9668 non-null   int64
 6   임대수     9668 non-null   int64
 7   동수      9668 non-null   int64
 8   주차대수    9668 non-null   int64
 9   용적률     9668 non-null   int64
 10  건폐율     9668 non-null   int64
 11  건설사     9128 non-null   object
dtypes: float64(2), int64(7), object(3)
memory usage: 906.5+ KB

In [10]:
# detail의 처음 5행을 출력합니다.
detail.head()

,아파트ID,아파트명,지번주소,위도,경도,세대수,임대수,동수,주차대수,용적률,건폐율,건설사
0,145017,개포자이르네,서울시 강남구 개포동 656-3,37.478654,127.055232,28,0,1,38,199,57,자이에스앤디
1,1298,개포주공5단지,서울시 강남구 개포동 187,37.487824,127.068039,940,0,6,912,151,12,대한주택공사
2,1303,개포주공6단지,서울시 강남구 개포동 185,37.488645,127.070472,1060,0,9,300,0,0,대한주택공사
3,1307,개포주공7단지,서울시 강남구 개포동 185,37.489561,127.072416,900,0,8,400,0,0,대한주택공사
4,128527,개포프레지던스자이,서울시 강남구 개포동 189번지 일원,37.485251,127.071620,3375,220,35,5881,249,18,㈜GS건설

### csv 파일 인코딩 방식 확인

In [11]:
# cvs 파일명을 재사용할 수 있도록 변수에 할당합니다.
file = 'APT_Price_Seoul_2021.csv'

In [12]:
# csv 파일을 바이너리 모드로 읽습니다.
text = open(file = file, mode = 'rb').read()
text[:100]

b'\xec\xa7\x80\xec\x97\xad\xec\xbd\x94\xeb\x93\x9c,\xec\x95\x84\xed\x8c\x8c\xed\x8a\xb8,\xec\x8b\x9c\xeb\x8f\x84\xeb\xaa\x85,\xec\x8b\x9c\xea\xb5\xb0\xea\xb5\xac,\xeb\xb2\x95\xec\xa0\x95\xeb\x8f\x99,\xec\xa7\x80\xeb\xb2\x88,\xea\xb1\xb0\xeb\x9e\x98\xec\x9d\xbc,\xec\xa0\x84\xec\x9a\xa9\xeb\xa9\xb4\xec\xa0\x81,\xec\xb8\xb5,\xea\xb1\xb0\xeb\x9e\x98\xea\xb8\x88\xec\x95\xa1\n'

In [13]:
# csv 파일의 문자 인코딩 방식을 확인합니다.
chardet.detect(text[:100])

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

### csv 파일 읽을 때 날짜형으로 생성

In [14]:
# csv 파일을 읽고 데이터프레임을 생성합니다.
df = pd.read_csv(filepath_or_buffer = file)

In [15]:
# df의 열별 자료형을 확인합니다.
df.dtypes

지역코드      int64
아파트      object
시도명      object
시군구      object
법정동      object
지번       object
거래일      object
전용면적    float64
층         int64
거래금액     object
dtype: object

In [16]:
# df의 처음 5행을 출력합니다.
df.head()

,지역코드,아파트,시도명,시군구,법정동,지번,거래일,전용면적,층,거래금액
0,11170,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,"87,500"
1,11305,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,"24,300"
2,11380,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,"77,000"
3,11380,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,"68,000"
4,11380,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,"68,000"

In [17]:
# 날짜형으로 읽을 열이름을 parse_dates 매개변수에 리스트로 지정합니다.
df = pd.read_csv(filepath_or_buffer = file, parse_dates = ['거래일'])

In [18]:
# df의 열별 자료형을 다시 확인합니다.
df.dtypes

지역코드             int64
아파트             object
시도명             object
시군구             object
법정동             object
지번              object
거래일     datetime64[ns]
전용면적           float64
층                int64
거래금액            object
dtype: object

### 열 선택

In [19]:
# 열이름을 문자열 스칼라로 지정하면 시리즈로 반환합니다.
price['지역코드']

0        11170
1        11305
2        11380
3        11380
4        11380
         ...
43442    11590
43443    11650
43444    11680
43445    11680
43446    11740
Name: 지역코드, Length: 43447, dtype: int64

In [20]:
# 열이름을 리스트로 지정하면 데이터프레임으로 반환합니다.
# [참고] 2개 이상의 열을 선택하려면 리스트로 지정합니다.
price[['지역코드']]

        지역코드
0      11170
1      11305
2      11380
3      11380
4      11380
...      ...
43442  11590
43443  11650
43444  11680
43445  11680
43446  11740

[43447 rows x 1 columns]

In [21]:
# 열이름 순서를 변경하면 위치를 바꿔서 반환합니다.
price[['아파트', '지역코드']]

                  아파트   지역코드
0                동아그린  11170
1            한원힐트리움수유  11305
2      대림한숲(DMC이편한세상)  11380
3             동광갈현베르빌  11380
4             동광갈현베르빌  11380
...               ...    ...
43442         흑석동양아파트  11590
43443           삼풍아파트  11650
43444        래미안블레스티지  11680
43445          현대비젼21  11680
43446         코오롱(1차)  11740

[43447 rows x 2 columns]

In [22]:
# 슬라이스로 연속한 열을 선택하려면 loc 인덱서를 추가합니다.(팬시 인덱싱)
price.loc[:, '거래일':'거래금액']

             거래일    전용면적   층     거래금액
0     2021-01-01  43.020  11   87,500
1     2021-01-01  27.390   5   24,300
2     2021-01-01  84.951   3   77,000
3     2021-01-01  84.997   8   68,000
4     2021-01-01  84.997   8   68,000
...          ...     ...  ..      ...
43442 2021-12-31  84.991   1  105,000
43443 2021-12-31  79.470   9  280,000
43444 2021-12-31  84.940  16  316,000
43445 2021-12-31  32.650  18   45,000
43446 2021-12-31  94.740   6  119,500

[43447 rows x 4 columns]

In [23]:
# 조건을 만족하는 열을 선택합니다.(불리언 인덱싱)
price.loc[:, price.dtypes == 'int64']

        지역코드   층
0      11170  11
1      11305   5
2      11380   3
3      11380   8
4      11380   8
...      ...  ..
43442  11590   1
43443  11650   9
43444  11680  16
43445  11680  18
43446  11740   6

[43447 rows x 2 columns]

### 열 삭제

In [24]:
# 삭제할 열이름을 drop() 함수에 리스트로 지정합니다.
price.drop(columns = ['지역코드'])
price.head()

,지역코드,아파트,시도명,시군구,법정동,지번,거래일,전용면적,층,거래금액
0,11170,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,"87,500"
1,11305,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,"24,300"
2,11380,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,"77,000"
3,11380,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,"68,000"
4,11380,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,"68,000"

In [25]:
# 열을 삭제하고 재할당하면 데이터프레임에서 해당 열을 삭제합니다.
price = price.drop(columns = ['지역코드'])
price.head()

              아파트    시도명  시군구  법정동      지번        거래일    전용면적   층    거래금액
0            동아그린  서울특별시  용산구  이촌동     411 2021-01-01  43.020  11  87,500
1        한원힐트리움수유  서울특별시  강북구  수유동     738 2021-01-01  27.390   5  24,300
2  대림한숲(DMC이편한세상)  서울특별시  은평구  수색동   415-1 2021-01-01  84.951   3  77,000
3         동광갈현베르빌  서울특별시  은평구  갈현동  465-12 2021-01-01  84.997   8  68,000
4         동광갈현베르빌  서울특별시  은평구  갈현동  465-12 2021-01-01  84.997   8  68,000

### 열이름 변경

In [26]:
# 일부 열이름을 변경한 결과를 출력합니다.
price.rename(columns = {'시도명': '시도', '시군구': '자치구'})

                  아파트     시도  자치구  법정동      지번        거래일    전용면적   층     거래금액
0                동아그린  서울특별시  용산구  이촌동     411 2021-01-01  43.020  11   87,500
1            한원힐트리움수유  서울특별시  강북구  수유동     738 2021-01-01  27.390   5   24,300
2      대림한숲(DMC이편한세상)  서울특별시  은평구  수색동   415-1 2021-01-01  84.951   3   77,000
3             동광갈현베르빌  서울특별시  은평구  갈현동  465-12 2021-01-01  84.997   8   68,000
4             동광갈현베르빌  서울특별시  은평구  갈현동  465-12 2021-01-01  84.997   8   68,000
...               ...    ...  ...  ...     ...        ...     ...  ..      ...
43442         흑석동양아파트  서울특별시  동작구  흑석동     328 2021-12-31  84.991   1  105,000
43443           삼풍아파트  서울특별시  서초구  서초동    1685 2021-12-31  79.470   9  280,000
43444        래미안블레스티지  서울특별시  강남구  개포동    1280 2021-12-31  84.940  16  316,000
43445          현대비젼21  서울특별시  강남구  도곡동  467-19 2021-12-31  32.650  18   45,000
43446         코오롱(1차)  서울특별시  강동구  성내동   196-8 2021-12-31  94.740   6  119,500

[43447 rows x 9 columns]

In [27]:
# price의 열이름을 출력합니다.
price.columns

Index(['아파트', '시도명', '시군구', '법정동', '지번', '거래일', '전용면적', '층', '거래금액'], dtype='object')

In [28]:
# 전체 열이름을 변경합니다.
# [주의] 데이터프레임의 열이름과 원소 개수가 같은 리스트를 지정해야 합니다.
price.columns = ['아파트', '시도', '자치구', '읍면동', '지번', 
                 '거래일', '전용면적', '층', '거래금액']
price.head()

              아파트     시도  자치구  읍면동      지번        거래일    전용면적   층    거래금액
0            동아그린  서울특별시  용산구  이촌동     411 2021-01-01  43.020  11  87,500
1        한원힐트리움수유  서울특별시  강북구  수유동     738 2021-01-01  27.390   5  24,300
2  대림한숲(DMC이편한세상)  서울특별시  은평구  수색동   415-1 2021-01-01  84.951   3  77,000
3         동광갈현베르빌  서울특별시  은평구  갈현동  465-12 2021-01-01  84.997   8  68,000
4         동광갈현베르빌  서울특별시  은평구  갈현동  465-12 2021-01-01  84.997   8  68,000

### 열별 자료형 변환

# 시리즈의 원소 자료형을 변환합니다.
# [참고] 거래금액 원소에 콤마가 있어 에러가 발생합니다.
price['거래금액'].astype(dtype = float)

In [29]:
# 거래금액 원소에 있는 콤마를 삭제합니다.
price['거래금액'] = price['거래금액'].str.replace(pat = ',', repl = '')

In [30]:
# 시리즈의 원소 자료형을 변환하고 재할당합니다.
price['거래금액'] = price['거래금액'].astype(dtype = float)
price['거래일'] = price['거래일'].astype(dtype = str)

In [31]:
# price의 열별 자료형을 확인합니다.
price.dtypes

아파트      object
시도       object
자치구      object
읍면동      object
지번       object
거래일      object
전용면적    float64
층         int64
거래금액    float64
dtype: object

In [32]:
# 데이터프레임의 열별로 자료형 변환 방법을 딕셔너리로 지정합니다.
price = price.astype(dtype = {'거래일': 'datetime64', '층': float})
price.dtypes

아파트             object
시도              object
자치구             object
읍면동             object
지번              object
거래일     datetime64[ns]
전용면적           float64
층              float64
거래금액           float64
dtype: object

In [33]:
# 정수형으로 변환할 열이름으로 리스트를 생성합니다.
cols = ['층', '거래금액']

In [34]:
# 선택한 열의 원소 자료형을 동시에 변환합니다.
price[cols] = price[cols].astype(dtype = int)
price.dtypes

아파트             object
시도              object
자치구             object
읍면동             object
지번              object
거래일     datetime64[ns]
전용면적           float64
층                int64
거래금액             int64
dtype: object

### [참고] 문자열을 날짜형으로 변환

In [35]:
# 날짜 기본형이 아닌 문자열로 시리즈를 생성합니다.
birth = pd.Series(data = ['2001년 2월 3일'])
birth

0    2001년 2월 3일
dtype: object

# birth를 날짜형으로 변환하려고 하면 에러가 발생합니다.
birth.astype(dtype = 'datetime64')

In [36]:
# to_datetime() 함수는 문자열을 날짜형으로 변환합니다.
birth = pd.to_datetime(arg = birth, format = '%Y년 %m월 %d일')
birth.iloc[0]

Timestamp('2001-02-03 00:00:00')

### 날짜 시간 데이터 연산

In [37]:
# 현재 날짜 시간 데이터를 생성합니다.
ctime = pd.Timestamp.today()
ctime

Timestamp('2022-06-12 16:18:09.522870')

In [38]:
# 태어나서 현재까지 살아온 기간을 dtGap에 할당합니다.
dtGap = ctime - birth.iloc[0]

In [39]:
# dtGap에서 일수만 출력합니다.
dtGap.days

7799

### [참고] 날짜 분해 함수

In [40]:
# 거래일에서 년(year)을 정수형 시리즈로 반환합니다.
price['거래일'].dt.year

0        2021
1        2021
2        2021
3        2021
4        2021
         ...
43442    2021
43443    2021
43444    2021
43445    2021
43446    2021
Name: 거래일, Length: 43447, dtype: int64

In [41]:
# 거래일에서 월(month)을 정수형 시리즈로 반환합니다.
price['거래일'].dt.month

0         1
1         1
2         1
3         1
4         1
         ..
43442    12
43443    12
43444    12
43445    12
43446    12
Name: 거래일, Length: 43447, dtype: int64

In [42]:
# 거래일에서 일(day)을 정수형 시리즈로 반환합니다.
price['거래일'].dt.day

0         1
1         1
2         1
3         1
4         1
         ..
43442    31
43443    31
43444    31
43445    31
43446    31
Name: 거래일, Length: 43447, dtype: int64

In [43]:
# 거래일에서 영문 요일을 문자형 시리즈로 반환합니다.
price['거래일'].dt.day_name()

0        Friday
1        Friday
2        Friday
3        Friday
4        Friday
          ...
43442    Friday
43443    Friday
43444    Friday
43445    Friday
43446    Friday
Name: 거래일, Length: 43447, dtype: object

In [44]:
# 거래일에서 한글 요일을 문자형 시리즈로 반환합니다.
price['거래일'].dt.day_name('ko_KR')

0        금요일
1        금요일
2        금요일
3        금요일
4        금요일
        ...
43442    금요일
43443    금요일
43444    금요일
43445    금요일
43446    금요일
Name: 거래일, Length: 43447, dtype: object

### 조건에 맞는 행 선택: 연속형 변수

In [45]:
# 거래금액이 100억 이상인 행을 선택하여 df1에 할당합니다.
df1 = price[price['거래금액'] >= 1000000].copy()
df1.head()

         아파트     시도  자치구  읍면동   지번        거래일    전용면적   층     거래금액
10512  PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
10513  PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
27790  PH129  서울특별시  강남구  청담동  129 2021-07-07  273.96   6  1000000
31863  파르크한남  서울특별시  용산구  한남동  410 2021-08-04  268.67   3  1000000
36848  파르크한남  서울특별시  용산구  한남동  410 2021-09-09  268.67   2  1080000

In [46]:
# 거래금액이 100억 미만이고 60층 이상인 행을 선택하여 df2에 할당합니다.
df2 = price[(price['거래금액'] < 1000000) & (price['층'] >= 60)].copy()
df2.head()

           아파트     시도  자치구  읍면동      지번        거래일     전용면적   층    거래금액
507    현대하이페리온  서울특별시  양천구   목동     916 2021-01-05  154.050  61  285000
7859    타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-02-10  214.967  64  460000
16466   타워팰리스1  서울특별시  강남구  도곡동     467 2021-04-22  137.240  61  314000
18269   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-05-04  244.224  63  535000
19706   타워팰리스1  서울특별시  강남구  도곡동     467 2021-05-13  244.660  61  540000

### [참고] 시리즈의 비교 연산 함수

In [47]:
# 층이 60 초과이면 True, 아니면 False인 부울형 시리즈를 반환합니다.
price['층'].gt(60).sum()

11

In [48]:
# 층이 60 이상이면 True, 아니면 False인 부울형 시리즈를 반환합니다.
price['층'].ge(60).sum()

13

In [49]:
# 층이 60 미만이면 True, 아니면 False인 부울형 시리즈를 반환합니다.
price['층'].lt(60).sum()

43434

In [50]:
# 층이 60 이하이면 True, 아니면 False인 부울형 시리즈를 반환합니다.
price['층'].le(60).sum()

43436

In [51]:
# 층이 60이면 True, 60이 아니면 False인 부울형 시리즈를 반환합니다.
price['층'].eq(60).sum()

2

In [52]:
# 층이 60이 아니면 True, 60이면 False인 부울형 시리즈를 반환합니다.
price['층'].ne(60).sum()

43445

In [53]:
# 비교 연산 함수는 시리즈이므로 소괄호로 감싸지 않아도 됩니다.
price['거래금액'].lt(1000000) & price['층'].ge(60)

0        False
1        False
2        False
3        False
4        False
         ...
43442    False
43443    False
43444    False
43445    False
43446    False
Length: 43447, dtype: bool

### 조건에 맞는 행 선택: 범주형 변수

In [54]:
# 자치구가 '강남구'인 행을 선택합니다.
price[price['자치구'].eq('강남구')]

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액
22,개포주공6단지,서울특별시,강남구,개포동,185,2021-01-01,53.060,3,178000
23,삼성,서울특별시,강남구,수서동,747,2021-01-01,84.970,8,176000
24,현대1차101동~106동,서울특별시,강남구,개포동,653,2021-01-01,95.400,9,215000
165,SK허브프리모,서울특별시,강남구,도곡동,953-1,2021-01-02,67.570,11,91000
166,개포우성1,서울특별시,강남구,대치동,503,2021-01-02,84.810,12,285000
...,...,...,...,...,...,...,...,...,...
43403,푸른마을아파트101동~111동,서울특별시,강남구,일원동,719,2021-12-29,59.760,10,165000
43404,현대힐스테이트2단지,서울특별시,강남구,삼성동,50,2021-12-29,84.236,16,299000
43426,프리마빌,서울특별시,강남구,역삼동,727-11,2021-12-30,140.730,5,120000
43444,래미안블레스티지,서울특별시,강남구,개포동,1280,2021-12-31,84.940,16,316000
43445,현대비젼21,서울특별시,강남구,도곡동,467-19,2021-12-31,32.650,18,45000

In [55]:
# 자치구가 '강남구' 또는 '서초구'인 행을 선택합니다.
price[price['자치구'].eq('강남구') | price['자치구'].eq('서초구')]

                 아파트     시도  자치구  읍면동      지번        거래일     전용면적   층    거래금액
20             삼풍아파트  서울특별시  서초구  서초동    1685 2021-01-01  130.730   3  275000
21         엘에이치서초4단지  서울특별시  서초구  우면동     788 2021-01-01   59.930  25  120000
22           개포주공6단지  서울특별시  강남구  개포동     185 2021-01-01   53.060   3  178000
23                삼성  서울특별시  강남구  수서동     747 2021-01-01   84.970   8  176000
24     현대1차101동~106동  서울특별시  강남구  개포동     653 2021-01-01   95.400   9  215000
...              ...    ...  ...  ...     ...        ...      ...  ..     ...
43404     현대힐스테이트2단지  서울특별시  강남구  삼성동      50 2021-12-29   84.236  16  299000
43426           프리마빌  서울특별시  강남구  역삼동  727-11 2021-12-30  140.730   5  120000
43443          삼풍아파트  서울특별시  서초구  서초동    1685 2021-12-31   79.470   9  280000
43444       래미안블레스티지  서울특별시  강남구  개포동    1280 2021-12-31   84.940  16  316000
43445         현대비젼21  서울특별시  강남구  도곡동  467-19 2021-12-31   32.650  18   45000

[4691 rows x 9 columns]

In [56]:
# isin() 함수는 원소가 리스트에 있으면 True, 없으면 False를 반환합니다.
price[price['자치구'].isin(values = ['강남구', '서초구'])]

                 아파트     시도  자치구  읍면동      지번        거래일     전용면적   층    거래금액
20             삼풍아파트  서울특별시  서초구  서초동    1685 2021-01-01  130.730   3  275000
21         엘에이치서초4단지  서울특별시  서초구  우면동     788 2021-01-01   59.930  25  120000
22           개포주공6단지  서울특별시  강남구  개포동     185 2021-01-01   53.060   3  178000
23                삼성  서울특별시  강남구  수서동     747 2021-01-01   84.970   8  176000
24     현대1차101동~106동  서울특별시  강남구  개포동     653 2021-01-01   95.400   9  215000
...              ...    ...  ...  ...     ...        ...      ...  ..     ...
43404     현대힐스테이트2단지  서울특별시  강남구  삼성동      50 2021-12-29   84.236  16  299000
43426           프리마빌  서울특별시  강남구  역삼동  727-11 2021-12-30  140.730   5  120000
43443          삼풍아파트  서울특별시  서초구  서초동    1685 2021-12-31   79.470   9  280000
43444       래미안블레스티지  서울특별시  강남구  개포동    1280 2021-12-31   84.940  16  316000
43445         현대비젼21  서울특별시  강남구  도곡동  467-19 2021-12-31   32.650  18   45000

[4691 rows x 9 columns]

In [57]:
# str.contains() 함수는 원소에 패턴이 있으면 True, 없으면 False를 반환합니다.
price[price['자치구'].str.contains(pat = '강남|서초')]

                 아파트     시도  자치구  읍면동      지번        거래일     전용면적   층    거래금액
20             삼풍아파트  서울특별시  서초구  서초동    1685 2021-01-01  130.730   3  275000
21         엘에이치서초4단지  서울특별시  서초구  우면동     788 2021-01-01   59.930  25  120000
22           개포주공6단지  서울특별시  강남구  개포동     185 2021-01-01   53.060   3  178000
23                삼성  서울특별시  강남구  수서동     747 2021-01-01   84.970   8  176000
24     현대1차101동~106동  서울특별시  강남구  개포동     653 2021-01-01   95.400   9  215000
...              ...    ...  ...  ...     ...        ...      ...  ..     ...
43404     현대힐스테이트2단지  서울특별시  강남구  삼성동      50 2021-12-29   84.236  16  299000
43426           프리마빌  서울특별시  강남구  역삼동  727-11 2021-12-30  140.730   5  120000
43443          삼풍아파트  서울특별시  서초구  서초동    1685 2021-12-31   79.470   9  280000
43444       래미안블레스티지  서울특별시  강남구  개포동    1280 2021-12-31   84.940  16  316000
43445         현대비젼21  서울특별시  강남구  도곡동  467-19 2021-12-31   32.650  18   45000

[4691 rows x 9 columns]

### [참고] 시리즈를 문자열로 처리하는 주요 함수

In [58]:
# 실습용 시리즈를 생성합니다.
drID = pd.Series(data = ['서울 00-123456-01', '경기 01-654321-02'])

In [59]:
# 문자열(원소)을 지정한 패턴으로 분리하고 결과를 데이터프레임으로 반환합니다.
drID.str.split(pat = ' |-', expand = True)

    0   1       2   3
0  서울  00  123456  01
1  경기  01  654321  02

In [60]:
# 문자열(원소)마다 지정한 패턴이 있으면 시작 인덱스를 반환합니다.
# [참고] 지정한 패턴이 없으면 -1을 반환합니다.
drID.str.find(sub = '서울')

0    0
1   -1
dtype: int64

In [61]:
# 문자열(원소)마다 지정한 패턴을 교체할 문자열로 변경합니다.
drID.str.replace(pat = ' ', repl = '')

0    서울00-123456-01
1    경기01-654321-02
dtype: object

In [62]:
# 문자열(원소)을 지정한 인덱스로 자릅니다.
drID.str.slice(start = 0, stop = 2)

0    서울
1    경기
dtype: object

In [63]:
# 문자열(원소)마다 지정한 패턴에 해당하는 문자열을 추출합니다.
# [주의] 패턴을 소괄호로 감싸야 합니다.
drID.str.extract(pat = r'([가-힣]+)')

    0
0  서울
1  경기

### 행이름으로 행 삭제 및 행이름 초기화

In [64]:
# df1을 출력합니다.
df1

         아파트     시도  자치구  읍면동   지번        거래일    전용면적   층     거래금액
10512  PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
10513  PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
27790  PH129  서울특별시  강남구  청담동  129 2021-07-07  273.96   6  1000000
31863  파르크한남  서울특별시  용산구  한남동  410 2021-08-04  268.67   3  1000000
36848  파르크한남  서울특별시  용산구  한남동  410 2021-09-09  268.67   2  1080000
42130  파르크한남  서울특별시  용산구  한남동  410 2021-11-24  268.95   3  1150000
42234  파르크한남  서울특별시  용산구  한남동  410 2021-11-26  268.67   4  1170000
42889  파르크한남  서울특별시  용산구  한남동  410 2021-12-13  268.95   2  1200000

In [65]:
# 삭제할 행이름을 drop() 함수에 리스트로 지정합니다.
df1.drop(index = [10512, 10513])

         아파트     시도  자치구  읍면동   지번        거래일    전용면적  층     거래금액
27790  PH129  서울특별시  강남구  청담동  129 2021-07-07  273.96  6  1000000
31863  파르크한남  서울특별시  용산구  한남동  410 2021-08-04  268.67  3  1000000
36848  파르크한남  서울특별시  용산구  한남동  410 2021-09-09  268.67  2  1080000
42130  파르크한남  서울특별시  용산구  한남동  410 2021-11-24  268.95  3  1150000
42234  파르크한남  서울특별시  용산구  한남동  410 2021-11-26  268.67  4  1170000
42889  파르크한남  서울특별시  용산구  한남동  410 2021-12-13  268.95  2  1200000

In [66]:
# 인덱스를 슬라이싱하면 연속한 행이름을 삭제합니다.
df1.drop(index = df1.index[0:2])

         아파트     시도  자치구  읍면동   지번        거래일    전용면적  층     거래금액
27790  PH129  서울특별시  강남구  청담동  129 2021-07-07  273.96  6  1000000
31863  파르크한남  서울특별시  용산구  한남동  410 2021-08-04  268.67  3  1000000
36848  파르크한남  서울특별시  용산구  한남동  410 2021-09-09  268.67  2  1080000
42130  파르크한남  서울특별시  용산구  한남동  410 2021-11-24  268.95  3  1150000
42234  파르크한남  서울특별시  용산구  한남동  410 2021-11-26  268.67  4  1170000
42889  파르크한남  서울특별시  용산구  한남동  410 2021-12-13  268.95  2  1200000

In [67]:
# 행이름을 초기화하면 기존 행이름을 index라는 열로 추가합니다.
df1.reset_index()

   index    아파트     시도  자치구  읍면동   지번        거래일    전용면적   층     거래금액
0  10512  PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
1  10513  PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
2  27790  PH129  서울특별시  강남구  청담동  129 2021-07-07  273.96   6  1000000
3  31863  파르크한남  서울특별시  용산구  한남동  410 2021-08-04  268.67   3  1000000
4  36848  파르크한남  서울특별시  용산구  한남동  410 2021-09-09  268.67   2  1080000
5  42130  파르크한남  서울특별시  용산구  한남동  410 2021-11-24  268.95   3  1150000
6  42234  파르크한남  서울특별시  용산구  한남동  410 2021-11-26  268.67   4  1170000
7  42889  파르크한남  서울특별시  용산구  한남동  410 2021-12-13  268.95   2  1200000

In [68]:
# df1의 행이름을 초기화하고 df1에 재할당합니다.
df1 = df1.reset_index(drop = True)

### 결측값 처리: 단순대체

In [69]:
# 데이터프레임의 셀 값별 결측값 여부를 확인합니다.
price.isna()

         아파트     시도    자치구    읍면동     지번    거래일   전용면적      층   거래금액
0      False  False  False  False  False  False  False  False  False
1      False  False  False  False  False  False  False  False  False
2      False  False  False  False  False  False  False  False  False
3      False  False  False  False  False  False  False  False  False
4      False  False  False  False  False  False  False  False  False
...      ...    ...    ...    ...    ...    ...    ...    ...    ...
43442  False  False  False  False  False  False  False  False  False
43443  False  False  False  False  False  False  False  False  False
43444  False  False  False  False  False  False  False  False  False
43445  False  False  False  False  False  False  False  False  False
43446  False  False  False  False  False  False  False  False  False

[43447 rows x 9 columns]

In [70]:
# 데이터프레임의 열별 결측값 개수를 확인합니다.
price.isna().sum()

아파트      0
시도       0
자치구      0
읍면동      0
지번      14
거래일      0
전용면적     0
층        0
거래금액     0
dtype: int64

In [71]:
# 지번이 결측값인 행을 선택합니다.
price[price['지번'].isna()]

                 아파트     시도  자치구  읍면동   지번        거래일    전용면적   층    거래금액
1900       서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-01-12   84.48   8  160000
10266      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-03-02   84.48  11  159000
11456  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동  NaN 2021-03-11   84.95   2  163000
14474      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-04-06   84.48  21  154500
14989      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-04-10   59.21   2  135000
15516  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동  NaN 2021-04-15  101.90   4  187500
16181      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-04-20   84.87  14  155000
17240  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동  NaN 2021-04-27  101.90   3  184500
20261      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-05-16   59.21   8  131000
20533      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-05-18   84.87   1  151000
21923  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동  NaN 2021-05-26   84.95   4  165000
30693  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동  NaN 2021-07-26   84.99   7  182000
39801      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-10-13   84.87  10  178000
41572      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-11-11   84.41   9  160000

In [72]:
# 지번이 결측값인 행에서 결측값을 빈 문자열로 대체한 결과를 반환합니다.
price[price['지번'].isna()].fillna(value = '')

                 아파트     시도  자치구  읍면동 지번        거래일    전용면적   층    거래금액
1900       서초포레스타2단지  서울특별시  서초구  내곡동    2021-01-12   84.48   8  160000
10266      서초포레스타2단지  서울특별시  서초구  내곡동    2021-03-02   84.48  11  159000
11456  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동    2021-03-11   84.95   2  163000
14474      서초포레스타2단지  서울특별시  서초구  내곡동    2021-04-06   84.48  21  154500
14989      서초포레스타2단지  서울특별시  서초구  내곡동    2021-04-10   59.21   2  135000
15516  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동    2021-04-15  101.90   4  187500
16181      서초포레스타2단지  서울특별시  서초구  내곡동    2021-04-20   84.87  14  155000
17240  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동    2021-04-27  101.90   3  184500
20261      서초포레스타2단지  서울특별시  서초구  내곡동    2021-05-16   59.21   8  131000
20533      서초포레스타2단지  서울특별시  서초구  내곡동    2021-05-18   84.87   1  151000
21923  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동    2021-05-26   84.95   4  165000
30693  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동    2021-07-26   84.99   7  182000
39801      서초포레스타2단지  서울특별시  서초구  내곡동    2021-10-13   84.87  10  178000
41572      서초포레스타2단지  서울특별시  서초구  내곡동    2021-11-11   84.41   9  160000

### [참고] 결측값을 이전 셀 값으로 채우기

In [73]:
# 현재 작업 경로에 있는 폴더명과 파일명을 출력합니다.
os.listdir()

['APT_List_Seoul_2021.csv',
 'Naver_APT_Detail_Seoul.xlsx',
 'Naver_APT_Detail_Seoul.csv',
 'APT_Price_Seoul_2021.csv',
 'APT_List_Seoul_2021.xlsx',
 'KBO_Hitters_2021.xlsx',
 'KBO_Hitters_2021.csv',
 'APT_Price_Seoul_2021.xlsx',
 'APT_List_Seoul_2021.z',
 'APT_Mean_Price_Dong_2021.xlsx']

In [74]:
# 법정동별 평균 거래금액 데이터를 읽고 데이터프레임을 생성합니다.
meanPrice = pd.read_excel('APT_Mean_Price_Dong_2021.xlsx')

In [75]:
# meanPrice를 출력합니다.
meanPrice

     자치구  읍면동    거래금액
0    강남구  개포동  211467
1    NaN  논현동  123896
2    NaN  대치동  235221
3    NaN  도곡동  249234
4    NaN  삼성동  189397
..   ...  ...     ...
309  NaN  면목동   64122
310  NaN   묵동   70601
311  NaN  상봉동   71782
312  NaN  신내동   62586
313  NaN  중화동   63143

[314 rows x 3 columns]

In [76]:
# 자치구에 있는 결측값을 이전 셀 값으로 채웁니다.
meanPrice.fillna(method = 'ffill')

     자치구  읍면동    거래금액
0    강남구  개포동  211467
1    강남구  논현동  123896
2    강남구  대치동  235221
3    강남구  도곡동  249234
4    강남구  삼성동  189397
..   ...  ...     ...
309  중랑구  면목동   64122
310  중랑구   묵동   70601
311  중랑구  상봉동   71782
312  중랑구  신내동   62586
313  중랑구  중화동   63143

[314 rows x 3 columns]

### 결측값 처리: 행 삭제

In [77]:
# 데이터프레임에서 결측값이 있는 모든 행을 삭제하고 행 개수를 확인합니다.
price.dropna().shape[0]

43433

In [78]:
# 지번에서 결측값이 있는 행을 선택하고 행 개수를 확인합니다.
price[price['지번'].isna()].shape[0]

14

In [79]:
# 지번에서 결측값이 없는 행을 선택하고 행 개수를 확인합니다.
price[price['지번'].notna()].shape[0]

43433

In [80]:
# 지번에서 결측값이 아닌 행을 선택하고 price에 재할당합니다.
price = price[price['지번'].notna()]

### 파생변수 생성 : 연속형 변수

In [81]:
# 거래금액을 전용면적으로 나누고 3.3을 곱한 평당금액을 생성합니다.
price['평당금액'] = price['거래금액'] / price['전용면적'] * 3.3
price.head()

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액
0,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,87500,6711.994421
1,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,24300,2927.710843
2,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,77000,2991.136067
3,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,68000,2640.093180
4,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,68000,2640.093180

In [82]:
# 평당금액을 반올림하여 소수점 둘째 자리까지 남깁니다.
price['평당금액'] = price['평당금액'].round(2)

In [83]:
# 거래금액의 단위를 만원에서 억원으로 변경합니다.
price['거래금액'] = price['거래금액'] / 10000

### [참고] 데이터프레임에 열 추가 및 삽입

In [84]:
# price에서 일부 열을 삭제한 데이터프레임 imsi를 생성합니다.
imsi = price.drop(columns = ['층', '평당금액']).copy()
imsi

                  아파트     시도  자치구  읍면동      지번        거래일    전용면적   거래금액
0                동아그린  서울특별시  용산구  이촌동     411 2021-01-01  43.020   8.75
1            한원힐트리움수유  서울특별시  강북구  수유동     738 2021-01-01  27.390   2.43
2      대림한숲(DMC이편한세상)  서울특별시  은평구  수색동   415-1 2021-01-01  84.951   7.70
3             동광갈현베르빌  서울특별시  은평구  갈현동  465-12 2021-01-01  84.997   6.80
4             동광갈현베르빌  서울특별시  은평구  갈현동  465-12 2021-01-01  84.997   6.80
...               ...    ...  ...  ...     ...        ...     ...    ...
43442         흑석동양아파트  서울특별시  동작구  흑석동     328 2021-12-31  84.991  10.50
43443           삼풍아파트  서울특별시  서초구  서초동    1685 2021-12-31  79.470  28.00
43444        래미안블레스티지  서울특별시  강남구  개포동    1280 2021-12-31  84.940  31.60
43445          현대비젼21  서울특별시  강남구  도곡동  467-19 2021-12-31  32.650   4.50
43446         코오롱(1차)  서울특별시  강동구  성내동   196-8 2021-12-31  94.740  11.95

[43433 rows x 8 columns]

In [85]:
# imsi에 여러 시리즈를 추가한 결과를 출력합니다.
imsi.assign(층 = price['층'], 평당금액 = price['평당금액'])

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,거래금액,층,평당금액
0,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,8.75,11,6711.99
1,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,2.43,5,2927.71
2,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,7.70,3,2991.14
3,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,6.80,8,2640.09
4,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,6.80,8,2640.09
...,...,...,...,...,...,...,...,...,...,...
43442,흑석동양아파트,서울특별시,동작구,흑석동,328,2021-12-31,84.991,10.50,1,4076.90
43443,삼풍아파트,서울특별시,서초구,서초동,1685,2021-12-31,79.470,28.00,9,11627.03
43444,래미안블레스티지,서울특별시,강남구,개포동,1280,2021-12-31,84.940,31.60,16,12276.90
43445,현대비젼21,서울특별시,강남구,도곡동,467-19,2021-12-31,32.650,4.50,18,4548.24
43446,코오롱(1차),서울특별시,강동구,성내동,196-8,2021-12-31,94.740,11.95,6,4162.44

In [86]:
# imsi에 추가할 시리즈를 원하는 위치에 새로운 열이름으로 삽입합니다.
imsi.insert(value = price['평당금액'], loc = 0, column = '평당금액')
imsi.head()

      평당금액             아파트     시도  자치구  읍면동      지번        거래일    전용면적  거래금액
0  6711.99            동아그린  서울특별시  용산구  이촌동     411 2021-01-01  43.020  8.75
1  2927.71        한원힐트리움수유  서울특별시  강북구  수유동     738 2021-01-01  27.390  2.43
2  2991.14  대림한숲(DMC이편한세상)  서울특별시  은평구  수색동   415-1 2021-01-01  84.951  7.70
3  2640.09         동광갈현베르빌  서울특별시  은평구  갈현동  465-12 2021-01-01  84.997  6.80
4  2640.09         동광갈현베르빌  서울특별시  은평구  갈현동  465-12 2021-01-01  84.997  6.80

### [참고] 시리즈 데이터 지연

In [87]:
# imsi의 거래금액을 1번 지연한 시리즈를 반환합니다.
imsi['거래금액'].shift(1)

0          NaN
1         8.75
2         2.43
3         7.70
4         6.80
         ...
43442     1.50
43443    10.50
43444    28.00
43445    31.60
43446     4.50
Name: 거래금액, Length: 43433, dtype: float64

In [88]:
# imsi의 거래금액을 1~2번 지연한 파생변수를 추가합니다.
imsi['거래금액1'] = imsi['거래금액'].shift(1)
imsi['거래금액2'] = imsi['거래금액'].shift(2)
imsi.head()

,평당금액,아파트,시도,자치구,읍면동,지번,거래일,전용면적,거래금액,거래금액1,거래금액2
0,6711.99,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,8.75,NaN,NaN
1,2927.71,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,2.43,8.75,NaN
2,2991.14,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,7.70,2.43,8.75
3,2640.09,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,6.80,7.70,2.43
4,2640.09,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,6.80,6.80,7.70

In [89]:
# 전용면적과 거래금액의 피어슨 상관계수를 확인합니다.
imsi['전용면적'].corr(imsi['거래금액'])

0.681668121594016

### [참고] 시리즈 이동평균

In [90]:
# 정수 1~5를 원소로 갖는 시리즈를 생성합니다.(시계열 데이터로 가정합니다.)
nums = pd.Series(data = np.arange(1, 6))
nums

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [91]:
# nums로 3일 이동평균을 계산합니다.
nums.rolling(window = 3).mean()

0    NaN
1    NaN
2    2.0
3    3.0
4    4.0
dtype: float64

In [92]:
# nums로 3일 이동평균을 계산할 때 최소 원소 개수를 1로 지정합니다.
nums.rolling(window = 3, min_periods = 1).mean()

0    1.0
1    1.5
2    2.0
3    3.0
4    4.0
dtype: float64

In [93]:
# nums의 2번 인덱스에 결측값을 할당합니다.
nums.loc[2] = np.nan
nums

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [94]:
# 결측값이 있는 시리즈의 이동평균을 계산합니다.
# mean() 함수는 결측값을 제외하고 남은 원소의 평균을 반환합니다.
nums.rolling(window = 3, min_periods = 1).mean()

0    1.0
1    1.5
2    1.5
3    3.0
4    4.5
dtype: float64

### 파생변수 생성 : 범주형 변수

In [95]:
# 평당금액을 '5천 이상', '5천 미만'으로 구분한 금액구분을 생성합니다.
price['금액구분'] = np.where(price['평당금액'].ge(5000), 
                          '5천 이상', '5천 미만')
price.head()

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,금액구분
0,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,8.75,6711.99,5천 이상
1,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,2.43,2927.71,5천 미만
2,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,7.70,2991.14,5천 미만
3,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,6.80,2640.09,5천 미만
4,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,6.80,2640.09,5천 미만

### [참고] pandas에서 추천하는 코딩 방식

In [96]:
# 평당금액이 5000 이상인 행의 새 변수(금액구분)에 '5천 이상'을 할당합니다.
imsi.loc[imsi['평당금액'].ge(5000), '금액구분'] = '5천 이상'
imsi.head()

,평당금액,아파트,시도,자치구,읍면동,지번,거래일,전용면적,거래금액,거래금액1,거래금액2,금액구분
0,6711.99,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,8.75,NaN,NaN,5천 이상
1,2927.71,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,2.43,8.75,NaN,NaN
2,2991.14,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,7.70,2.43,8.75,NaN
3,2640.09,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,6.80,7.70,2.43,NaN
4,2640.09,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,6.80,6.80,7.70,NaN

In [97]:
# 평당금액이 5000 미만인 행의 새 변수(금액구분)에 '5천 미만'을 할당합니다.
imsi.loc[imsi['평당금액'].lt(5000), '금액구분'] = '5천 미만'
imsi.head()

,평당금액,아파트,시도,자치구,읍면동,지번,거래일,전용면적,거래금액,거래금액1,거래금액2,금액구분
0,6711.99,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,8.75,NaN,NaN,5천 이상
1,2927.71,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,2.43,8.75,NaN,5천 미만
2,2991.14,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,7.70,2.43,8.75,5천 미만
3,2640.09,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,6.80,7.70,2.43,5천 미만
4,2640.09,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,6.80,6.80,7.70,5천 미만

### [참고] 구간화 함수

In [98]:
# 연속형 변수를 세 개 이상으로 분리할 때 np.where() 함수를 중첩합니다.
np.where(price['평당금액'].ge(10000), 
         '1억 이상', 
         np.where(price['평당금액'].ge(5000), 
                  '5천 이상', 
                  '5천 미만'))

array(['5천 이상', '5천 미만', '5천 미만', ..., '1억 이상', '5천 미만', '5천 미만'],
      dtype='<U5')

In [99]:
# 연속형 변수를 세 개 이상으로 분리할 때 np.select() 함수를 사용합니다.
np.select(condlist = [price['평당금액'].ge(10000),
                      price['평당금액'].ge(5000),
                      price['평당금액'].lt(5000)], 
          choicelist = ['1억 이상', '5천 이상', '5천 미만'])

array(['5천 이상', '5천 미만', '5천 미만', ..., '1억 이상', '5천 미만', '5천 미만'],
      dtype='<U5')

### 파생변수 생성: 문자형 변수 결합

In [100]:
# 여러 문자형 변수를 + 연산자로 결합합니다.
price['시도'] + ' ' + price['자치구'] + ' ' + \
price['읍면동'] + ' ' + price['지번']

0           서울특별시 용산구 이촌동 411
1           서울특별시 강북구 수유동 738
2         서울특별시 은평구 수색동 415-1
3        서울특별시 은평구 갈현동 465-12
4        서울특별시 은평구 갈현동 465-12
                 ...
43442       서울특별시 동작구 흑석동 328
43443      서울특별시 서초구 서초동 1685
43444      서울특별시 강남구 개포동 1280
43445    서울특별시 강남구 도곡동 467-19
43446     서울특별시 강동구 성내동 196-8
Length: 43433, dtype: object

In [101]:
# 문자열로 결합할 열이름으로 리스트를 생성합니다.
cols = ['시도', '자치구', '읍면동', '지번']

In [102]:
# 데이터프레임의 행(시리즈)별로 문자열을 결합하는 함수를 반복 실행합니다.
price['주소'] = price[cols].apply(func = lambda x: ' '.join(x), axis = 1)
price.head()

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,금액구분,주소
0,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,8.75,6711.99,5천 이상,서울특별시 용산구 이촌동 411
1,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,2.43,2927.71,5천 미만,서울특별시 강북구 수유동 738
2,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,7.70,2991.14,5천 미만,서울특별시 은평구 수색동 415-1
3,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,6.80,2640.09,5천 미만,서울특별시 은평구 갈현동 465-12
4,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,6.80,2640.09,5천 미만,서울특별시 은평구 갈현동 465-12

### [참고] 같은 함수 반복 실행 실습

In [103]:
# 아파트(시리즈)의 원소(문자열)별 글자수를 반환합니다.
price['아파트'].map(arg = len)

0         4
1         8
2        14
3         7
4         7
         ..
43442     7
43443     5
43444     8
43445     6
43446     7
Name: 아파트, Length: 43433, dtype: int64

In [104]:
# 데이터프레임의 열(시리즈)별 원소 개수를 반환합니다.
price[cols].apply(func = len, axis = 0)

시도     43433
자치구    43433
읍면동    43433
지번     43433
dtype: int64

In [105]:
# 데이터프레임의 행(시리즈)별 원소 개수를 반환합니다.
price[cols].apply(func = len, axis = 1)

0        4
1        4
2        4
3        4
4        4
        ..
43442    4
43443    4
43444    4
43445    4
43446    4
Length: 43433, dtype: int64

In [106]:
# 데이터프레임의 셀 값(문자열)별 글자수를 반환합니다.
price[cols].applymap(func = len)

       시도  자치구  읍면동  지번
0       5    3    3   3
1       5    3    3   3
2       5    3    3   5
3       5    3    3   6
4       5    3    3   6
...    ..  ...  ...  ..
43442   5    3    3   3
43443   5    3    3   4
43444   5    3    3   4
43445   5    3    3   6
43446   5    3    3   5

[43433 rows x 4 columns]

### 데이터프레임 정렬

In [107]:
# 시리즈를 오름차순 정렬합니다.
price['층'].sort_values()

19075    -3
19074    -3
11369    -1
41073    -1
5036     -1
         ..
25446    63
18269    63
7859     64
38720    64
25949    66
Name: 층, Length: 43433, dtype: int64

In [108]:
# 시리즈를 내림차순 정렬합니다.
price['층'].sort_values(ascending = False)

25949    66
7859     64
38720    64
25446    63
18269    63
         ..
37547    -1
36628    -1
15493    -1
19075    -3
19074    -3
Name: 층, Length: 43433, dtype: int64

In [109]:
# 데이터프레임을 층으로 오름차순 정렬합니다.
price.sort_values(by = ['층'])

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,금액구분,주소
19075,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.9108,-3,20.80,8083.78,5천 이상,서울특별시 동작구 흑석동 341
19074,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.9108,-3,20.40,7928.32,5천 이상,서울특별시 동작구 흑석동 341
11369,수산타운(2차),서울특별시,중구,신당동,432-2006,2021-03-11,32.8600,-1,0.95,954.05,5천 미만,서울특별시 중구 신당동 432-2006
41073,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2021-11-02,134.7500,-1,14.80,3624.49,5천 미만,서울특별시 은평구 진관동 84
5036,상지리츠빌카일룸,서울특별시,강남구,도곡동,202,2021-01-27,213.9400,-1,53.70,8283.16,5천 이상,서울특별시 강남구 도곡동 202
...,...,...,...,...,...,...,...,...,...,...,...,...
25446,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-20,214.9670,63,45.00,6908.04,5천 이상,서울특별시 강남구 도곡동 467-29
18269,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-04,244.2240,63,53.50,7229.02,5천 이상,서울특별시 강남구 도곡동 467-29
7859,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-02-10,214.9670,64,46.00,7061.55,5천 이상,서울특별시 강남구 도곡동 467-29
38720,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-30,222.4800,64,48.25,7156.82,5천 이상,서울특별시 강남구 도곡동 467
25949,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-24,214.9670,66,45.80,7030.85,5천 이상,서울특별시 강남구 도곡동 467-29

In [110]:
# 데이터프레임을 층으로 내림차순 정렬합니다.
price.sort_values(by = ['층'], ascending = False)

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,금액구분,주소
25949,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-24,214.9670,66,45.80,7030.85,5천 이상,서울특별시 강남구 도곡동 467-29
7859,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-02-10,214.9670,64,46.00,7061.55,5천 이상,서울특별시 강남구 도곡동 467-29
38720,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-30,222.4800,64,48.25,7156.82,5천 이상,서울특별시 강남구 도곡동 467
25446,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-20,214.9670,63,45.00,6908.04,5천 이상,서울특별시 강남구 도곡동 467-29
18269,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-04,244.2240,63,53.50,7229.02,5천 이상,서울특별시 강남구 도곡동 467-29
...,...,...,...,...,...,...,...,...,...,...,...,...
37547,강변,서울특별시,용산구,이촌동,193-3,2021-09-15,66.0800,-1,10.30,5143.77,5천 이상,서울특별시 용산구 이촌동 193-3
36628,연합파크빌,서울특별시,중랑구,중화동,331-64,2021-09-07,80.0100,-1,7.65,3155.23,5천 미만,서울특별시 중랑구 중화동 331-64
15493,삼성그린101동,서울특별시,동작구,사당동,180-26,2021-04-15,67.1500,-1,3.47,1705.29,5천 미만,서울특별시 동작구 사당동 180-26
19075,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.9108,-3,20.80,8083.78,5천 이상,서울특별시 동작구 흑석동 341
19074,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.9108,-3,20.40,7928.32,5천 이상,서울특별시 동작구 흑석동 341

In [111]:
# 데이터프레임을 층과 거래금액으로 내림차순 정렬합니다.
price.sort_values(by = ['층', '거래금액'], ascending = False)

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,금액구분,주소
25949,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-24,214.9670,66,45.80,7030.85,5천 이상,서울특별시 강남구 도곡동 467-29
38720,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-30,222.4800,64,48.25,7156.82,5천 이상,서울특별시 강남구 도곡동 467
7859,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-02-10,214.9670,64,46.00,7061.55,5천 이상,서울특별시 강남구 도곡동 467-29
18269,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-04,244.2240,63,53.50,7229.02,5천 이상,서울특별시 강남구 도곡동 467-29
25446,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-20,214.9670,63,45.00,6908.04,5천 이상,서울특별시 강남구 도곡동 467-29
...,...,...,...,...,...,...,...,...,...,...,...,...
15493,삼성그린101동,서울특별시,동작구,사당동,180-26,2021-04-15,67.1500,-1,3.47,1705.29,5천 미만,서울특별시 동작구 사당동 180-26
16073,옥수,서울특별시,성동구,옥수동,306,2021-04-20,55.4700,-1,2.90,1725.26,5천 미만,서울특별시 성동구 옥수동 306
11369,수산타운(2차),서울특별시,중구,신당동,432-2006,2021-03-11,32.8600,-1,0.95,954.05,5천 미만,서울특별시 중구 신당동 432-2006
19075,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.9108,-3,20.80,8083.78,5천 이상,서울특별시 동작구 흑석동 341
19074,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.9108,-3,20.40,7928.32,5천 이상,서울특별시 동작구 흑석동 341

In [112]:
# 데이터프레임을 층은 내림차순, 거래금액은 오름차순 정렬합니다.
price.sort_values(by = ['층', '거래금액'], ascending = [False, True])

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,금액구분,주소
25949,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-24,214.9670,66,45.80,7030.85,5천 이상,서울특별시 강남구 도곡동 467-29
7859,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-02-10,214.9670,64,46.00,7061.55,5천 이상,서울특별시 강남구 도곡동 467-29
38720,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-30,222.4800,64,48.25,7156.82,5천 이상,서울특별시 강남구 도곡동 467
25446,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-20,214.9670,63,45.00,6908.04,5천 이상,서울특별시 강남구 도곡동 467-29
18269,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-04,244.2240,63,53.50,7229.02,5천 이상,서울특별시 강남구 도곡동 467-29
...,...,...,...,...,...,...,...,...,...,...,...,...
41073,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2021-11-02,134.7500,-1,14.80,3624.49,5천 미만,서울특별시 은평구 진관동 84
7340,아크로리버하임,서울특별시,동작구,흑석동,341,2021-02-07,84.9108,-1,20.90,8122.64,5천 이상,서울특별시 동작구 흑석동 341
5036,상지리츠빌카일룸,서울특별시,강남구,도곡동,202,2021-01-27,213.9400,-1,53.70,8283.16,5천 이상,서울특별시 강남구 도곡동 202
19074,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.9108,-3,20.40,7928.32,5천 이상,서울특별시 동작구 흑석동 341
19075,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.9108,-3,20.80,8083.78,5천 이상,서울특별시 동작구 흑석동 341

### 집계함수로 데이터 요약

In [113]:
# 거래금액에서 결측값을 제외한 빈도수를 반환합니다.
price['거래금액'].count()

43433

In [114]:
# 거래금액의 평균을 반환합니다.
price['거래금액'].mean()

10.244029829852877

In [115]:
# 거래금액의 표준편차를 반환합니다.
price['거래금액'].std()

7.474083182589728

In [116]:
# 거래금액의 최솟값을 반환합니다.
price['거래금액'].min()

0.66

In [117]:
# 거래금액의 최댓값을 반환합니다.
price['거래금액'].max()

120.0

In [118]:
# 거래금액의 다양한 기술통계량을 반환합니다.
price['거래금액'].describe()

count    43433.000000
mean        10.244030
std          7.474083
min          0.660000
25%          5.900000
50%          8.450000
75%         12.660000
max        120.000000
Name: 거래금액, dtype: float64

### 범주별 집계함수로 데이터 요약

In [119]:
# 자치구별 거래금액에서 결측값을 제외한 빈도수를 반환합니다.
price.groupby(by = ['자치구']).count()['거래금액']

자치구
강남구     2523
강동구     2038
강북구      930
강서구     2852
관악구     1484
광진구      746
구로구     2636
금천구      987
노원구     3963
도봉구     1894
동대문구    1708
동작구     1531
마포구     1544
서대문구    1439
서초구     2154
성동구     1510
성북구     2351
송파구     2116
양천구     1881
영등포구    1881
용산구      902
은평구     1683
종로구      450
중구       608
중랑구     1622
Name: 거래금액, dtype: int64

In [120]:
# 자치구별 거래금액의 평균을 반환합니다.
price.groupby(by = ['자치구']).mean()['거래금액']

자치구
강남구     19.244181
강동구      9.361545
강북구      6.692850
강서구      7.912379
관악구      7.287662
광진구     11.981930
구로구      6.200133
금천구      5.952970
노원구      6.724615
도봉구      5.849027
동대문구     7.759022
동작구     11.177949
마포구     11.655437
서대문구     9.090077
서초구     20.506119
성동구     14.457381
성북구      8.417559
송파구     15.430786
양천구     10.306879
영등포구    10.178784
용산구     19.953066
은평구      7.307733
종로구      9.331656
중구       8.995670
중랑구      6.426082
Name: 거래금액, dtype: float64

In [121]:
# 자치구별 거래금액의 표준편차를 반환합니다.
price.groupby(by = ['자치구']).std()['거래금액']

자치구
강남구     12.711907
강동구      5.062603
강북구      2.266030
강서구      3.497488
관악구      2.904095
광진구      5.231320
구로구      3.202441
금천구      2.878183
노원구      2.183407
도봉구      2.235834
동대문구     3.751845
동작구      4.329664
마포구      4.858542
서대문구     3.712597
서초구     11.473951
성동구      7.173030
성북구      2.491911
송파구      7.073151
양천구      5.521660
영등포구     6.251188
용산구     14.643673
은평구      3.055908
종로구      6.016923
중구       5.593363
중랑구      2.459253
Name: 거래금액, dtype: float64

In [122]:
# 자치구별 거래금액의 최솟값을 반환합니다.
price.groupby(by = ['자치구']).min()['거래금액']

자치구
강남구     1.4200
강동구     0.7800
강북구     0.8881
강서구     0.7800
관악구     0.9800
광진구     0.7500
구로구     0.6600
금천구     0.8500
노원구     0.6750
도봉구     0.7700
동대문구    0.8500
동작구     1.1000
마포구     1.2400
서대문구    1.2000
서초구     1.8000
성동구     1.2700
성북구     1.0000
송파구     1.3950
양천구     1.1900
영등포구    0.9500
용산구     1.5000
은평구     0.9000
종로구     0.7500
중구      0.9500
중랑구     0.7700
Name: 거래금액, dtype: float64

In [123]:
# 자치구별 거래금액의 최댓값을 반환합니다.
price.groupby(by = ['자치구']).max()['거래금액']

자치구
강남구     115.00
강동구      40.00
강북구      14.95
강서구      20.00
관악구      16.00
광진구      28.90
구로구      20.50
금천구      14.75
노원구      18.00
도봉구      15.00
동대문구     18.20
동작구      43.00
마포구      47.00
서대문구     21.50
서초구      72.90
성동구      84.50
성북구      20.00
송파구      46.60
양천구      34.15
영등포구     45.00
용산구     120.00
은평구      17.00
종로구      37.50
중구       37.00
중랑구      22.00
Name: 거래금액, dtype: float64

In [124]:
# 자치구별 거래금액의 다양한 기술통계량을 반환합니다.
price.groupby(by = ['자치구']).describe()['거래금액']

       count       mean        std     min       25%     50%      75%     max
자치구
강남구   2523.0  19.244181  12.711907  1.4200   8.82500  17.900  26.2000  115.00
강동구   2038.0   9.361545   5.062603  0.7800   5.64750   9.675  13.2500   40.00
강북구    930.0   6.692850   2.266030  0.8881   5.50000   6.940   8.1000   14.95
강서구   2852.0   7.912379   3.497488  0.7800   5.75000   7.600   9.9000   20.00
관악구   1484.0   7.287662   2.904095  0.9800   5.60000   7.665   9.1125   16.00
광진구    746.0  11.981930   5.231320  0.7500   8.73250  12.325  15.1000   28.90
구로구   2636.0   6.200133   3.202441  0.6600   3.49000   6.300   8.1000   20.50
금천구    987.0   5.952970   2.878183  0.8500   4.29250   5.950   7.4150   14.75
노원구   3963.0   6.724615   2.183407  0.6750   5.30000   6.350   7.8500   18.00
도봉구   1894.0   5.849027   2.235834  0.7700   4.40000   5.750   6.9800   15.00
동대문구  1708.0   7.759022   3.751845  0.8500   5.38750   8.200  10.0000   18.20
동작구   1531.0  11.177949   4.329664  1.1000   8.50000  11.250  13.9000   43.00
마포구   1544.0  11.655437   4.858542  1.2400   8.54375  11.850  14.8595   47.00
서대문구  1439.0   9.090077   3.712597  1.2000   6.59500   8.700  11.5000   21.50
서초구   2154.0  20.506119  11.473951  1.8000  13.12500  19.880  27.0000   72.90
성동구   1510.0  14.457381   7.173030  1.2700  11.00000  13.480  15.9000   84.50
성북구   2351.0   8.417559   2.491911  1.0000   6.95000   8.350   9.8000   20.00
송파구   2116.0  15.430786   7.073151  1.3950  10.00000  14.500  21.0000   46.60
양천구   1881.0  10.306879   5.521660  1.1900   6.00000   9.200  13.9500   34.15
영등포구  1881.0  10.178784   6.251188  0.9500   6.97000   9.400  13.0000   45.00
용산구    902.0  19.953066  14.643673  1.5000  12.00000  16.425  22.4750  120.00
은평구   1683.0   7.307733   3.055908  0.9000   4.83000   7.350   9.4000   17.00
종로구    450.0   9.331656   6.016923  0.7500   4.00000   8.425  13.6875   37.50
중구     608.0   8.995670   5.593363  0.9500   3.13500   9.700  12.9000   37.00
중랑구   1622.0   6.426082   2.459253  0.7700   4.92625   6.400   7.8475   22.00

### [참고] agg() 함수 활용법

In [125]:
# 데이터프레임의 열별 집계 결과를 시리즈로 반환합니다.
price.agg(func = 'mean', numeric_only = True)

전용면적      73.469286
층          9.130615
거래금액      10.244030
평당금액    4535.887495
dtype: float64

In [126]:
# 데이터프레임에서 특정 열의 집계 결과에 열이름을 지정할 수 있습니다.
price.agg(건수 = ('아파트', 'count'), 평균 = ('거래금액', 'mean'))

        아파트      거래금액
건수  43433.0       NaN
평균      NaN  10.24403

In [127]:
# 범주형 변수로 그룹을 묶을 수 있습니다.
price.groupby(by = ['자치구']) \
     .agg(건수 = ('아파트', 'count'), 평균 = ('거래금액', 'mean'))

        건수         평균
자치구
강남구   2523  19.244181
강동구   2038   9.361545
강북구    930   6.692850
강서구   2852   7.912379
관악구   1484   7.287662
광진구    746  11.981930
구로구   2636   6.200133
금천구    987   5.952970
노원구   3963   6.724615
도봉구   1894   5.849027
동대문구  1708   7.759022
동작구   1531  11.177949
마포구   1544  11.655437
서대문구  1439   9.090077
서초구   2154  20.506119
성동구   1510  14.457381
성북구   2351   8.417559
송파구   2116  15.430786
양천구   1881  10.306879
영등포구  1881  10.178784
용산구    902  19.953066
은평구   1683   7.307733
종로구    450   9.331656
중구     608   8.995670
중랑구   1622   6.426082

### [참고] 범주형 변수의 빈도수/상대도수 확인

In [128]:
# 자치구별 빈도수를 내림차순 정렬한 결과를 반환합니다.
price['자치구'].value_counts()

노원구     3963
강서구     2852
구로구     2636
강남구     2523
성북구     2351
서초구     2154
송파구     2116
강동구     2038
도봉구     1894
양천구     1881
영등포구    1881
동대문구    1708
은평구     1683
중랑구     1622
마포구     1544
동작구     1531
성동구     1510
관악구     1484
서대문구    1439
금천구      987
강북구      930
용산구      902
광진구      746
중구       608
종로구      450
Name: 자치구, dtype: int64

In [129]:
# 자치구별 빈도수를 오름차순 정렬한 결과를 반환합니다.
price['자치구'].value_counts(ascending = True)

종로구      450
중구       608
광진구      746
용산구      902
강북구      930
금천구      987
서대문구    1439
관악구     1484
성동구     1510
동작구     1531
마포구     1544
중랑구     1622
은평구     1683
동대문구    1708
영등포구    1881
양천구     1881
도봉구     1894
강동구     2038
송파구     2116
서초구     2154
성북구     2351
강남구     2523
구로구     2636
강서구     2852
노원구     3963
Name: 자치구, dtype: int64

In [130]:
# 자치구별 빈도수를 시리즈 인덱스로 오름차순 정렬한 결과를 반환합니다.
price['자치구'].value_counts().sort_index()

강남구     2523
강동구     2038
강북구      930
강서구     2852
관악구     1484
광진구      746
구로구     2636
금천구      987
노원구     3963
도봉구     1894
동대문구    1708
동작구     1531
마포구     1544
서대문구    1439
서초구     2154
성동구     1510
성북구     2351
송파구     2116
양천구     1881
영등포구    1881
용산구      902
은평구     1683
종로구      450
중구       608
중랑구     1622
Name: 자치구, dtype: int64

In [131]:
# 자치구별 상대도수를 내림차순 정렬한 결과를 반환합니다.
price['자치구'].value_counts(normalize = True)

노원구     0.091244
강서구     0.065664
구로구     0.060691
강남구     0.058089
성북구     0.054129
서초구     0.049594
송파구     0.048719
강동구     0.046923
도봉구     0.043607
양천구     0.043308
영등포구    0.043308
동대문구    0.039325
은평구     0.038749
중랑구     0.037345
마포구     0.035549
동작구     0.035250
성동구     0.034766
관악구     0.034168
서대문구    0.033131
금천구     0.022725
강북구     0.021412
용산구     0.020768
광진구     0.017176
중구      0.013999
종로구     0.010361
Name: 자치구, dtype: float64

In [132]:
# 소수점 넷째 자리까지 남도록 반올림한 결과에 100을 곱하면 백분율이 됩니다.
price['자치구'].value_counts(normalize = True).round(4) * 100

노원구     9.12
강서구     6.57
구로구     6.07
강남구     5.81
성북구     5.41
서초구     4.96
송파구     4.87
강동구     4.69
도봉구     4.36
양천구     4.33
영등포구    4.33
동대문구    3.93
은평구     3.87
중랑구     3.73
마포구     3.55
동작구     3.52
성동구     3.48
관악구     3.42
서대문구    3.31
금천구     2.27
강북구     2.14
용산구     2.08
광진구     1.72
중구      1.40
종로구     1.04
Name: 자치구, dtype: float64

### Long type의 데이터프레임 생성

In [133]:
# 두 범주형 변수명으로 리스트를 생성합니다.
cols = ['자치구', '금액구분']

In [134]:
# 두 범주형 변수의 빈도수로 Long type 데이터프레임을 생성합니다.
elong = price.groupby(by = cols).count()[['평당금액']]
elong.head()

           평당금액
자치구 금액구분
강남구 5천 미만   806
    5천 이상  1717
강동구 5천 미만  1103
    5천 이상   935
강북구 5천 미만   921

In [135]:
# elong의 행이름을 초기화하고 기존 행이름을 열로 추가합니다.
elong = elong.reset_index()
elong.head()

   자치구   금액구분  평당금액
0  강남구  5천 미만   806
1  강남구  5천 이상  1717
2  강동구  5천 미만  1103
3  강동구  5천 이상   935
4  강북구  5천 미만   921

In [136]:
# elong의 일부 열이름을 변경합니다.
elong = elong.rename(columns = {'평당금액': '매매건수'})

### Long type을 Wide type으로 변환

In [137]:
# Long type을 Wide type으로 변환합니다.
widen = elong.pivot(index = '자치구', 
                    columns = '금액구분', 
                    values = '매매건수')
widen.head()

금액구분  5천 미만  5천 이상
자치구
강남구     806   1717
강동구    1103    935
강북구     921      9
강서구    2302    550
관악구    1391     93

In [138]:
# widen의 행이름을 출력합니다.
# [참고] 행이름(인덱스)에 name 속성이 있고, 속성값은 '자치구'입니다.
widen.index

Index(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
       '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구',
       '용산구', '은평구', '종로구', '중구', '중랑구'],
      dtype='object', name='자치구')

In [139]:
# 행이름(인덱스)의 name을 출력합니다.
widen.index.name

'자치구'

### widen 행이름 초기화

In [140]:
# widen의 행이름을 초기화합니다.
widen = widen.reset_index()
widen.head()

금액구분  자치구  5천 미만  5천 이상
0     강남구    806   1717
1     강동구   1103    935
2     강북구    921      9
3     강서구   2302    550
4     관악구   1391     93

In [141]:
# widen의 열이름을 출력합니다.
# [참고] 열이름(컬럼명)에 name 속성이 있고, 속성값은 '금액구분'입니다.
widen.columns

Index(['자치구', '5천 미만', '5천 이상'], dtype='object', name='금액구분')

In [142]:
# 열이름(컬럼명)의 name을 출력합니다.
widen.columns.name

'금액구분'

In [143]:
# 열이름 name에 빈 문자열을 할당합니다.
widen.columns.name = ''
widen.head()

   자치구  5천 미만  5천 이상
0  강남구    806   1717
1  강동구   1103    935
2  강북구    921      9
3  강서구   2302    550
4  관악구   1391     93

### Wide type을 Long type으로 변환

In [144]:
# Wide type을 Long type으로 변환합니다.
elong = widen.melt(id_vars = '자치구', 
                   value_vars = ['5천 미만', '5천 이상'], 
                   var_name = '금액종류',
                   value_name = '거래건수')
elong.head()

   자치구   금액종류  거래건수
0  강남구  5천 미만   806
1  강동구  5천 미만  1103
2  강북구  5천 미만   921
3  강서구  5천 미만  2302
4  관악구  5천 미만  1391

In [145]:
# elong을 자치구와 금액종류로 오름차순 정렬하고 행이름을 초기화합니다.
elong.sort_values(by = ['자치구', '금액종류']).reset_index(drop = True)

     자치구   금액종류  거래건수
0    강남구  5천 미만   806
1    강남구  5천 이상  1717
2    강동구  5천 미만  1103
3    강동구  5천 이상   935
4    강북구  5천 미만   921
5    강북구  5천 이상     9
6    강서구  5천 미만  2302
7    강서구  5천 이상   550
8    관악구  5천 미만  1391
9    관악구  5천 이상    93
10   광진구  5천 미만   336
11   광진구  5천 이상   410
12   구로구  5천 미만  2498
13   구로구  5천 이상   138
14   금천구  5천 미만   911
15   금천구  5천 이상    76
16   노원구  5천 미만  3746
17   노원구  5천 이상   217
18   도봉구  5천 미만  1865
19   도봉구  5천 이상    29
20  동대문구  5천 미만  1460
21  동대문구  5천 이상   248
22   동작구  5천 미만   838
23   동작구  5천 이상   693
24   마포구  5천 미만   735
25   마포구  5천 이상   809
26  서대문구  5천 미만  1064
27  서대문구  5천 이상   375
28   서초구  5천 미만   656
29   서초구  5천 이상  1498
30   성동구  5천 미만   462
31   성동구  5천 이상  1048
32   성북구  5천 미만  2114
33   성북구  5천 이상   237
34   송파구  5천 미만   569
35   송파구  5천 이상  1547
36   양천구  5천 미만  1217
37   양천구  5천 이상   664
38  영등포구  5천 미만  1243
39  영등포구  5천 이상   638
40   용산구  5천 미만   260
41   용산구  5천 이상   642
42   은평구  5천 미만  1554
43   은평구  5천 이상   129
44   종로구  5천 미만   359
45   종로구  5천 이상    91
46    중구  5천 미만   435
47    중구  5천 이상   173
48   중랑구  5천 미만  1598
49   중랑구  5천 이상    24

### 교차 테이블 생성

In [146]:
# 두 범주형 변수의 빈도수를 원소로 갖는 교차 테이블을 생성합니다.
pd.crosstab(index = price['자치구'],
            columns = price['금액구분'],
            margins = True, 
            margins_name = '합계', 
            normalize = 'index')

금액구분     5천 미만     5천 이상
자치구
강남구   0.319461  0.680539
강동구   0.541217  0.458783
강북구   0.990323  0.009677
강서구   0.807153  0.192847
관악구   0.937332  0.062668
광진구   0.450402  0.549598
구로구   0.947648  0.052352
금천구   0.922999  0.077001
노원구   0.945244  0.054756
도봉구   0.984688  0.015312
동대문구  0.854801  0.145199
동작구   0.547355  0.452645
마포구   0.476036  0.523964
서대문구  0.739402  0.260598
서초구   0.304550  0.695450
성동구   0.305960  0.694040
성북구   0.899192  0.100808
송파구   0.268904  0.731096
양천구   0.646996  0.353004
영등포구  0.660819  0.339181
용산구   0.288248  0.711752
은평구   0.923351  0.076649
종로구   0.797778  0.202222
중구    0.715461  0.284539
중랑구   0.985203  0.014797
합계    0.700919  0.299081

### 피벗 테이블 생성

In [147]:
# 두 범주형 변수로 연속형 변수를 요약한 피벗 테이블을 생성합니다.
pd.pivot_table(data = price, 
               values = '평당금액', 
               index = '자치구', 
               columns = '금액구분', 
               aggfunc = np.mean, 
               margins = True, 
               margins_name = '평균').round(2)

금액구분    5천 미만    5천 이상       평균
자치구
강남구   3843.93  8912.35  7293.19
강동구   3502.36  6213.35  4746.12
강북구   3085.09  5171.64  3105.28
강서구   3467.50  5612.08  3881.08
관악구   3472.96  5372.44  3592.00
광진구   3634.94  6132.46  5007.57
구로구   2987.80  5485.81  3118.57
금천구   2814.23  5409.46  3014.06
노원구   3567.63  5694.76  3684.11
도봉구   2933.62  5236.90  2968.89
동대문구  3514.04  6015.93  3877.32
동작구   3866.84  7520.74  5520.76
마포구   3794.67  6421.47  5171.02
서대문구  3545.62  5866.59  4150.46
서초구   3716.09  8841.20  7280.35
성동구   4210.77  6730.56  5959.60
성북구   3577.02  5629.81  3783.96
송파구   3871.47  7541.46  6554.59
양천구   3238.24  6728.78  4470.41
영등포구  3785.27  6023.37  4544.39
용산구   3976.51  7205.42  6274.69
은평구   3266.03  5539.61  3440.29
종로구   3372.83  6897.79  4085.65
중구    3624.64  5809.42  4246.29
중랑구   3165.50  5383.56  3198.32
평균    3428.76  7130.53  4535.89

### 데이터프레임 결합

In [148]:
# 두 데이터프레임의 열이름이 같은지 확인합니다.
# [참고] 순서만 달라도 False를 반환합니다.
df1.columns.equals(other = df2.columns)

True

In [149]:
# 열이름이 같은 두 데이터프레임을 행(세로) 방향으로 결합합니다.
pd.concat(objs = [df1, df2])

           아파트     시도  자치구  읍면동      지번        거래일     전용면적   층     거래금액
0        PH129  서울특별시  강남구  청담동     129 2021-03-04  273.960  14  1150000
1        PH129  서울특별시  강남구  청담동     129 2021-03-04  273.960  14  1150000
2        PH129  서울특별시  강남구  청담동     129 2021-07-07  273.960   6  1000000
3        파르크한남  서울특별시  용산구  한남동     410 2021-08-04  268.670   3  1000000
4        파르크한남  서울특별시  용산구  한남동     410 2021-09-09  268.670   2  1080000
5        파르크한남  서울특별시  용산구  한남동     410 2021-11-24  268.950   3  1150000
6        파르크한남  서울특별시  용산구  한남동     410 2021-11-26  268.670   4  1170000
7        파르크한남  서울특별시  용산구  한남동     410 2021-12-13  268.950   2  1200000
507    현대하이페리온  서울특별시  양천구   목동     916 2021-01-05  154.050  61   285000
7859    타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-02-10  214.967  64   460000
16466   타워팰리스1  서울특별시  강남구  도곡동     467 2021-04-22  137.240  61   314000
18269   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-05-04  244.224  63   535000
19706   타워팰리스1  서울특별시  강남구  도곡동     467 2021-05-13  244.660  61   540000
21497   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-05-24  214.967  62   455000
22158  현대하이페리온  서울특별시  양천구   목동     916 2021-05-28  154.050  61   285000
24100   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-10  214.967  60   478000
25446   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-20  214.967  63   450000
25949   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-24  214.967  66   458000
36103   타워팰리스1  서울특별시  강남구  도곡동     467 2021-09-02  137.240  60   368000
38720   타워팰리스1  서울특별시  강남구  도곡동     467 2021-09-30  222.480  64   482500
42124   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-11-23  185.622  62   423000

In [150]:
# 두 데이터프레임을 세로로 결합하고 행이름을 초기화합니다.
pd.concat(objs = [df1, df2], ignore_index = True)

        아파트     시도  자치구  읍면동      지번        거래일     전용면적   층     거래금액
0     PH129  서울특별시  강남구  청담동     129 2021-03-04  273.960  14  1150000
1     PH129  서울특별시  강남구  청담동     129 2021-03-04  273.960  14  1150000
2     PH129  서울특별시  강남구  청담동     129 2021-07-07  273.960   6  1000000
3     파르크한남  서울특별시  용산구  한남동     410 2021-08-04  268.670   3  1000000
4     파르크한남  서울특별시  용산구  한남동     410 2021-09-09  268.670   2  1080000
5     파르크한남  서울특별시  용산구  한남동     410 2021-11-24  268.950   3  1150000
6     파르크한남  서울특별시  용산구  한남동     410 2021-11-26  268.670   4  1170000
7     파르크한남  서울특별시  용산구  한남동     410 2021-12-13  268.950   2  1200000
8   현대하이페리온  서울특별시  양천구   목동     916 2021-01-05  154.050  61   285000
9    타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-02-10  214.967  64   460000
10   타워팰리스1  서울특별시  강남구  도곡동     467 2021-04-22  137.240  61   314000
11   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-05-04  244.224  63   535000
12   타워팰리스1  서울특별시  강남구  도곡동     467 2021-05-13  244.660  61   540000
13   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-05-24  214.967  62   455000
14  현대하이페리온  서울특별시  양천구   목동     916 2021-05-28  154.050  61   285000
15   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-10  214.967  60   478000
16   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-20  214.967  63   450000
17   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-24  214.967  66   458000
18   타워팰리스1  서울특별시  강남구  도곡동     467 2021-09-02  137.240  60   368000
19   타워팰리스1  서울특별시  강남구  도곡동     467 2021-09-30  222.480  64   482500
20   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-11-23  185.622  62   423000

In [151]:
# df2의 일부 열이름을 변경합니다.
df2 = df2.rename(columns = {'아파트': '아파트명'})

In [152]:
# 두 데이터프레임의 열이름이 같은지 확인합니다.
df1.columns.equals(other = df2.columns)

False

In [153]:
# 열이름이 다른 두 데이터프레임을 행(세로) 방향으로 결합합니다.
pd.concat(objs = [df1, df2], ignore_index = True)

      아파트     시도  자치구  읍면동      지번        거래일     전용면적   층     거래금액     아파트명
0   PH129  서울특별시  강남구  청담동     129 2021-03-04  273.960  14  1150000      NaN
1   PH129  서울특별시  강남구  청담동     129 2021-03-04  273.960  14  1150000      NaN
2   PH129  서울특별시  강남구  청담동     129 2021-07-07  273.960   6  1000000      NaN
3   파르크한남  서울특별시  용산구  한남동     410 2021-08-04  268.670   3  1000000      NaN
4   파르크한남  서울특별시  용산구  한남동     410 2021-09-09  268.670   2  1080000      NaN
5   파르크한남  서울특별시  용산구  한남동     410 2021-11-24  268.950   3  1150000      NaN
6   파르크한남  서울특별시  용산구  한남동     410 2021-11-26  268.670   4  1170000      NaN
7   파르크한남  서울특별시  용산구  한남동     410 2021-12-13  268.950   2  1200000      NaN
8     NaN  서울특별시  양천구   목동     916 2021-01-05  154.050  61   285000  현대하이페리온
9     NaN  서울특별시  강남구  도곡동  467-29 2021-02-10  214.967  64   460000   타워팰리스3
10    NaN  서울특별시  강남구  도곡동     467 2021-04-22  137.240  61   314000   타워팰리스1
11    NaN  서울특별시  강남구  도곡동  467-29 2021-05-04  244.224  63   535000   타워팰리스3
12    NaN  서울특별시  강남구  도곡동     467 2021-05-13  244.660  61   540000   타워팰리스1
13    NaN  서울특별시  강남구  도곡동  467-29 2021-05-24  214.967  62   455000   타워팰리스3
14    NaN  서울특별시  양천구   목동     916 2021-05-28  154.050  61   285000  현대하이페리온
15    NaN  서울특별시  강남구  도곡동  467-29 2021-06-10  214.967  60   478000   타워팰리스3
16    NaN  서울특별시  강남구  도곡동  467-29 2021-06-20  214.967  63   450000   타워팰리스3
17    NaN  서울특별시  강남구  도곡동  467-29 2021-06-24  214.967  66   458000   타워팰리스3
18    NaN  서울특별시  강남구  도곡동     467 2021-09-02  137.240  60   368000   타워팰리스1
19    NaN  서울특별시  강남구  도곡동     467 2021-09-30  222.480  64   482500   타워팰리스1
20    NaN  서울특별시  강남구  도곡동  467-29 2021-11-23  185.622  62   423000   타워팰리스3

In [154]:
# 두 데이터프레임을 열(가로) 방향으로 결합합니다.
pd.concat(objs = [df1, df2], axis = 1)

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,아파트명,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액
0,PH129,서울특별시,강남구,청담동,129,2021-03-04,273.96,14.0,1150000.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,PH129,서울특별시,강남구,청담동,129,2021-03-04,273.96,14.0,1150000.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,PH129,서울특별시,강남구,청담동,129,2021-07-07,273.96,6.0,1000000.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,파르크한남,서울특별시,용산구,한남동,410,2021-08-04,268.67,3.0,1000000.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,파르크한남,서울특별시,용산구,한남동,410,2021-09-09,268.67,2.0,1080000.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
5,파르크한남,서울특별시,용산구,한남동,410,2021-11-24,268.95,3.0,1150000.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
6,파르크한남,서울특별시,용산구,한남동,410,2021-11-26,268.67,4.0,1170000.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
7,파르크한남,서울특별시,용산구,한남동,410,2021-12-13,268.95,2.0,1200000.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
507,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,현대하이페리온,서울특별시,양천구,목동,916,2021-01-05,154.050,61.0,285000.0
7859,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-02-10,214.967,64.0,460000.0
16466,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스1,서울특별시,강남구,도곡동,467,2021-04-22,137.240,61.0,314000.0
18269,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-04,244.224,63.0,535000.0
19706,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스1,서울특별시,강남구,도곡동,467,2021-05-13,244.660,61.0,540000.0
21497,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-24,214.967,62.0,455000.0
22158,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,현대하이페리온,서울특별시,양천구,목동,916,2021-05-28,154.050,61.0,285000.0
24100,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-10,214.967,60.0,478000.0
25446,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-20,214.967,63.0,450000.0
25949,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-24,214.967,66.0,458000.0
36103,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-02,137.240,60.0,368000.0
38720,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-30,222.480,64.0,482500.0
42124,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-11-23,185.622,62.0,423000.0

In [155]:
# df2의 행이름을 초기화합니다.
df2 = df2.reset_index(drop = True)

In [156]:
# 행이름을 초기화한 두 데이터프레임을 열(가로) 방향으로 결합합니다.
pd.concat(objs = [df1, df2], axis = 1)

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,아파트명,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액
0,PH129,서울특별시,강남구,청담동,129,2021-03-04,273.96,14.0,1150000.0,현대하이페리온,서울특별시,양천구,목동,916,2021-01-05,154.050,61,285000
1,PH129,서울특별시,강남구,청담동,129,2021-03-04,273.96,14.0,1150000.0,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-02-10,214.967,64,460000
2,PH129,서울특별시,강남구,청담동,129,2021-07-07,273.96,6.0,1000000.0,타워팰리스1,서울특별시,강남구,도곡동,467,2021-04-22,137.240,61,314000
3,파르크한남,서울특별시,용산구,한남동,410,2021-08-04,268.67,3.0,1000000.0,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-04,244.224,63,535000
4,파르크한남,서울특별시,용산구,한남동,410,2021-09-09,268.67,2.0,1080000.0,타워팰리스1,서울특별시,강남구,도곡동,467,2021-05-13,244.660,61,540000
5,파르크한남,서울특별시,용산구,한남동,410,2021-11-24,268.95,3.0,1150000.0,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-24,214.967,62,455000
6,파르크한남,서울특별시,용산구,한남동,410,2021-11-26,268.67,4.0,1170000.0,현대하이페리온,서울특별시,양천구,목동,916,2021-05-28,154.050,61,285000
7,파르크한남,서울특별시,용산구,한남동,410,2021-12-13,268.95,2.0,1200000.0,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-10,214.967,60,478000
8,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-20,214.967,63,450000
9,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-24,214.967,66,458000
10,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-02,137.240,60,368000
11,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-30,222.480,64,482500
12,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-11-23,185.622,62,423000

### 외래키 확인 및 전처리

In [157]:
# 두 데이터프레임의 외래키에서 일치하는 원소 개수를 확인합니다.
len(set(price['주소']) & set(detail['지번주소']))

0

In [158]:
# price의 주소를 출력합니다.
price['주소'].head()

0       서울특별시 용산구 이촌동 411
1       서울특별시 강북구 수유동 738
2     서울특별시 은평구 수색동 415-1
3    서울특별시 은평구 갈현동 465-12
4    서울특별시 은평구 갈현동 465-12
Name: 주소, dtype: object

In [159]:
# detail의 지번주소를 출력합니다.
detail['지번주소'].head()

0       서울시 강남구 개포동 656-3
1         서울시 강남구 개포동 187
2         서울시 강남구 개포동 185
3         서울시 강남구 개포동 185
4    서울시 강남구 개포동 189번지 일원
Name: 지번주소, dtype: object

In [160]:
# price의 주소에서 '특별'을 삭제합니다.
price['주소'] = price['주소'].str.replace(pat = '특별', repl = '')

In [161]:
# 외래키에서 일치하는 원소 개수를 다시 확인합니다.
len(set(price['주소']) & set(detail['지번주소']))

5204

### [참고] 표본 추출 및 시드 고정

In [162]:
# 관련 라이브러리를 호출합니다.
import random

In [163]:
# 모집단(1~45의 정수)에서 6개 표본을 비복원추출하는 코드를 10번 반복합니다.
for i in range(10):
    random.seed(a = 1)
    lotto = random.sample(population = range(1, 46), k = 6)
    lotto.sort()
    print(lotto)

[5, 8, 9, 17, 32, 37]
[5, 8, 9, 17, 32, 37]
[5, 8, 9, 17, 32, 37]
[5, 8, 9, 17, 32, 37]
[5, 8, 9, 17, 32, 37]
[5, 8, 9, 17, 32, 37]
[5, 8, 9, 17, 32, 37]
[5, 8, 9, 17, 32, 37]
[5, 8, 9, 17, 32, 37]
[5, 8, 9, 17, 32, 37]

### [참고] 중복 원소 확인 함수

In [164]:
# 시드를 고정합니다.
random.seed(a = 3)

In [165]:
# 1~5의 정수에서 3개를 복원추출합니다.
nums = random.choices(population = range(1, 6), k = 3)

In [166]:
# nums를 시리즈로 변환합니다.
nums = pd.Series(data = nums)
nums

0    2
1    3
2    2
dtype: int64

In [167]:
# 순방향으로 원소 중복 여부를 True/False로 반환합니다.
nums.duplicated(keep = 'first')

0    False
1    False
2     True
dtype: bool

In [168]:
# 역방향으로 원소 중복 여부를 True/False로 반환합니다.
nums.duplicated(keep = 'last')

0     True
1    False
2    False
dtype: bool

In [169]:
# 모든 중복 원소를 True로 반환합니다.(순서와 상관 없음)
nums.duplicated(keep = False)

0     True
1    False
2     True
dtype: bool

### 데이터프레임 중복 확인 및 제거

In [170]:
# detail의 지번주소에서 중복 건수를 확인합니다.
detail['지번주소'].duplicated().sum()

28

In [171]:
# detail의 지번주소가 중복이면 True, 아니면 False를 원소로 갖는 dup을 생성합니다.
dup = detail['지번주소'].duplicated(keep = False)

In [172]:
# dup이 True인 행만 남기고 지번주소로 오름차순 정렬한 결과를 반환합니다.
detail[dup].sort_values(by = ['지번주소'])

,아파트ID,아파트명,지번주소,위도,경도,세대수,임대수,동수,주차대수,용적률,건폐율,건설사
2,1303,개포주공6단지,서울시 강남구 개포동 185,37.488645,127.070472,1060,0,9,300,0,0,대한주택공사
3,1307,개포주공7단지,서울시 강남구 개포동 185,37.489561,127.072416,900,0,8,400,0,0,대한주택공사
424,724,"현대6,7차",서울시 강남구 압구정동 456,37.530219,127.028999,1288,0,15,1120,210,16,NaN
425,27498,현대65동(대림아크로빌),서울시 강남구 압구정동 456,37.531534,127.032195,56,0,1,89,240,20,NaN
896,902,주공고층3단지,서울시 강동구 둔촌동 174-1,37.524232,127.138849,1480,0,25,1468,0,0,대한주택공사
899,901,주공저층2단지,서울시 강동구 둔촌동 174-1,37.522661,127.135948,900,0,36,630,0,0,대한주택공사
1253,133402,미사아름채,서울시 강동구 천호동 452-15,37.538306,127.128271,1,0,1,0,553,59,주식회사미사종합건설
1254,133403,미사아름채(도시형),서울시 강동구 천호동 452-15,37.538300,127.128247,130,0,1,65,553,59,주식회사미사종합건설
1446,145240,에피소드수유838(민간임대),서울시 강북구 수유동 230-4,37.637120,127.023366,265,265,1,0,699,59,NaN
1447,145243,"에피소드수유838(민간임대,도시형)",서울시 강북구 수유동 230-4,37.637149,127.023357,293,293,1,0,699,59,NaN
2368,123685,노들리안3,서울시 관악구 봉천동 1667-13,37.482185,126.954544,1,0,1,0,408,52,신예종합개발(주)
2369,123686,노들리안3(도시형),서울시 관악구 봉천동 1667-13,37.482176,126.954542,21,0,1,11,408,52,신예종합개발(주)
2658,66,극동1차,서울시 광진구 광장동 218-1,37.543391,127.104103,448,0,5,500,204,0,극동건설
2646,67,광장극동2차,서울시 광진구 광장동 218-1,37.543740,127.104913,896,0,11,896,0,0,극동건설
2684,25418,MY,서울시 광진구 구의동 251-1,37.541632,127.084932,1,0,1,0,199,59,(주)원플러스 종합건설
2685,120820,MY(도시형),서울시 광진구 구의동 251-1,37.541662,127.084951,12,0,1,4,199,59,(주)원플러스 종합건설
2841,123905,테라팰리스건대2차,서울시 광진구 자양동 860,37.538310,127.078035,68,0,1,72,249,31,(주)주성종합건설
2842,123902,테라팰리스건대2차(도시형),서울시 광진구 자양동 860,37.538385,127.077624,10,0,1,8,249,31,(주)주성종합건설
2921,105912,화양타워(도시형),서울시 광진구 화양동 110-37,37.546993,127.071139,54,0,1,137,489,73,NaN
2922,14620,화양타워(아),서울시 광진구 화양동 110-37,37.547038,127.071105,38,0,1,37,489,59,NaN
2911,119123,씨즈건대힐스,서울시 광진구 화양동 530,37.546204,127.074654,1,0,1,1,249,36,(주)신성건설
2912,116717,씨즈건대힐스(도시형),서울시 광진구 화양동 530,37.546199,127.074646,148,0,1,74,249,36,(주)신성건설
3119,110384,하나세인스톤2차,서울시 구로구 구로동 97-4,37.496620,126.891872,9,0,1,3,776,57,(주)하나종합개발
3120,102801,하나세인스톤2차(도시형),서울시 구로구 구로동 97-4,37.496566,126.891873,91,0,1,35,766,57,(주)하나종합개발
3843,263,한신,서울시 노원구 하계동 284,37.637505,127.069153,1200,0,4,321,214,15,한신공영(주)
3834,25841,청구(284),서울시 노원구 하계동 284,37.638176,127.068612,660,0,5,330,214,15,청구
4313,109130,제이드파크(아),서울시 동대문구 장안동 382-2,37.569936,127.069089,12,0,1,6,489,59,재성건설주식회사
4312,109134,제이드파크(도시형),서울시 동대문구 장안동 382-2,37.569944,127.069055,28,0,1,14,489,59,재성건설주식회사
4432,126139,이문휘경지웰에스테이트,서울시 동대문구 휘경동 377,37.594722,127.063672,33,0,1,37,399,45,신영건설(주)
4433,127262,이문휘경지웰에스테이트(도시형),서울시 동대문구 휘경동 377,37.594720,127.063663,280,0,1,147,399,45,신영건설(주)
4434,3379,주공1단지,서울시 동대문구 휘경동 57,37.583070,127.071008,1224,0,13,2513,257,20,(주)서한
4435,100207,주공2단지,서울시 동대문구 휘경동 57,37.583287,127.069919,800,0,7,1200,0,0,금호산업(주)
4533,374,극동,서울시 동작구 사당동 105,37.491697,126.973341,1550,0,12,981,248,18,극동건설(주)
4562,380,사당우성2단지,서울시 동작구 사당동 105,37.487604,126.977151,1080,0,8,1299,248,18,주식회사 우성건설
4563,381,사당우성3단지,서울시 동작구 사당동 105,37.490400,126.975383,855,0,6,1710,0,0,주식회사 우성건설
4579,378,신동아4차,서울시 동작구 사당동 105,37.490198,126.978134,912,0,8,912,248,18,신동아건설(주)
4599,384,현대,서울시 동작구 사당동 169-32,37.488198,126.969906,265,0,2,350,215,18,현대산업개발(주)
4600,1136,현대(103동),서울시 동작구 사당동 169-32,37.488266,126.969396,81,0,1,0,184,15,현대산업개발(주)
5257,132163,더스타일하우스디센트럴,서울시 서대문구 충정로3가 480,37.561248,126.962487,199,199,2,137,464,53,대보건설(주)
5258,132162,더스타일하우스디센트럴(도시형),서울시 서대문구 충정로3가 480,37.561254,126.962487,300,300,2,115,464,53,대보건설(주)
5764,106897,훼미리타운(도시형),서울시 서초구 방배동 932-34,37.484810,126.992827,27,0,1,19,198,43,예림종합건설(주)
5763,126357,훼미리타운,서울시 서초구 방배동 932-34,37.484817,126.992878,1,0,1,0,198,43,예림종합건설(주)
6972,3754,장미2차,서울시 송파구 신천동 11,37.520404,127.102681,1302,0,10,1302,0,0,라이프주택
6973,622,장미3차,서울시 송파구 신천동 11,37.518535,127.103404,120,0,2,0,0,0,라이프주택
6965,620,미성,서울시 송파구 신천동 17-6,37.517448,127.106200,1230,0,9,2091,0,0,라이프주택개발(주)
6975,1284,크로바,서울시 송파구 신천동 17-6,37.516403,127.107434,120,0,2,264,0,0,라이프주택
8333,109492,한남아이파크,서울시 용산구 한남동 828,37.532203,127.007510,10,0,1,8,787,58,현대산업개발(주)
8334,109469,한남아이파크(도시형),서울시 용산구 한남동 828,37.532332,127.007405,270,0,1,240,787,58,현대산업개발(주)
8401,119076,만연샌텀시티,서울시 은평구 갈현동 456-8,37.618508,126.919504,1,0,1,0,430,51,(주)프레인종합건설
8402,119075,만연샌텀시티(도시형),서울시 은평구 갈현동 456-8,37.618499,126.919501,18,0,1,4,430,51,(주)프레인종합건설
8684,140893,미래하임,서울시 은평구 신사동 229-40,37.596794,126.907776,8,0,1,4,249,48,(주)모던종합건설
8685,140892,미래하임(도시형),서울시 은평구 신사동 229-40,37.596790,126.907776,10,0,1,5,249,48,(주)모던종합건설
9243,141501,세운푸르지오헤리시티,서울시 중구 인현동2가 151-1번지 일원,37.564566,126.996680,321,40,1,186,0,0,(주)대우건설
9244,131890,세운푸르지오헤리시티(도시형),서울시 중구 인현동2가 151-1번지 일원,37.564470,126.997103,293,0,1,162,0,0,(주)대우건설

In [173]:
# detail의 지번주소가 순방향으로 중복인 행을 삭제하고 detail에 재할당합니다.
detail = detail[~detail['지번주소'].duplicated()]

In [174]:
# detail의 행 개수를 확인합니다. 행 개수가 감소했습니다.(9668 -> 9640)
detail.shape[0]

9640

### 데이터프레임 병합

In [175]:
# 두 데이터프레임으로 내부 병합을 실행합니다.
pd.merge(left = price, 
         right = detail, 
         how = 'inner', 
         left_on = '주소', 
         right_on = '지번주소')

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,...,지번주소,위도,경도,세대수,임대수,동수,주차대수,용적률,건폐율,건설사
0,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,8.75,6711.99,...,서울시 용산구 이촌동 411,37.524037,126.958010,499,0,6,539,384,23,동아건설(주)
1,동아그린,서울특별시,용산구,이촌동,411,2021-01-05,59.580,15,11.80,6535.75,...,서울시 용산구 이촌동 411,37.524037,126.958010,499,0,6,539,384,23,동아건설(주)
2,동아그린,서울특별시,용산구,이촌동,411,2021-01-19,84.820,18,13.00,5057.77,...,서울시 용산구 이촌동 411,37.524037,126.958010,499,0,6,539,384,23,동아건설(주)
3,동아그린,서울특별시,용산구,이촌동,411,2021-01-19,114.960,19,14.95,4291.49,...,서울시 용산구 이촌동 411,37.524037,126.958010,499,0,6,539,384,23,동아건설(주)
4,동아그린,서울특별시,용산구,이촌동,411,2021-01-23,43.020,3,8.15,6251.74,...,서울시 용산구 이촌동 411,37.524037,126.958010,499,0,6,539,384,23,동아건설(주)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41259,휴먼씨티,서울특별시,서초구,양재동,402-15,2021-12-29,79.540,3,7.00,2904.20,...,서울시 서초구 양재동 402-15,37.470688,127.049067,16,0,1,16,298,59,휴먼라이프건설
41260,브라운스톤암사아파트,서울특별시,강동구,천호동,288-29,2021-12-29,84.970,9,11.80,4582.79,...,서울시 강동구 천호동 288-29,37.548821,127.128878,125,0,2,153,199,28,이수건설㈜
41261,프리마빌,서울특별시,강남구,역삼동,727-11,2021-12-30,140.730,5,12.00,2813.90,...,서울시 강남구 역삼동 727-11,37.497344,127.039399,19,0,1,29,287,58,백두건설산업(주)
41262,해오름2차,서울특별시,마포구,망원동,382-3,2021-12-31,93.990,3,5.70,2001.28,...,서울시 마포구 망원동 382-3,37.554352,126.907598,14,0,1,19,199,42,(주)지노씨엠
41263,부영,서울특별시,강서구,화곡동,24-147,2021-12-31,59.835,4,2.65,1461.52,...,서울시 강서구 화곡동 24-147,37.545333,126.846814,10,0,1,8,316,59,NaN

In [176]:
# detail의 외래키 이름을 '주소'로 변경합니다.
detail = detail.rename(columns = {'지번주소': '주소'})

In [177]:
# price와 detail에서 일치하는 열이름을 확인합니다.
set(price.columns) & set(detail.columns)

{'주소'}

In [178]:
# 외래키 이름이 같으면 on 매개변수를 사용합니다.
apt = pd.merge(left = price, right = detail, how = 'inner', on = '주소')

In [179]:
# apt의 정보를 확인합니다.
apt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41264 entries, 0 to 41263
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아파트     41264 non-null  object
 1   시도      41264 non-null  object
 2   자치구     41264 non-null  object
 3   읍면동     41264 non-null  object
 4   지번      41264 non-null  object
 5   거래일     41264 non-null  datetime64[ns]
 6   전용면적    41264 non-null  float64
 7   층       41264 non-null  int64
 8   거래금액    41264 non-null  float64
 9   평당금액    41264 non-null  float64
 10  금액구분    41264 non-null  object
 11  주소      41264 non-null  object
 12  아파트ID   41264 non-null  int64
 13  아파트명    41264 non-null  object
 14  위도      41264 non-null  float64
 15  경도      41264 non-null  float64
 16  세대수     41264 non-null  int64
 17  임대수     41264 non-null  int64
 18  동수      41264 non-null  int64
 19  주차대수    41264 non-null  int64
 20  용적률     41264 non-null  int64
 21  건폐율     41264 non-null  int64
 22  건설사     40381 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(8), object(9)
memory usage: 7.6+ MB

### 외부 파일로 저장

In [180]:
# apt를 xlsx 파일로 저장합니다.
%time apt.to_excel(excel_writer = 'APT_List_Seoul_2021.xlsx', index = None)

CPU times: user 16.7 s, sys: 276 ms, total: 17 s
Wall time: 17.1 s

In [181]:
# apt를 csv 파일로 저장합니다.
%time apt.to_csv(path_or_buf = 'APT_List_Seoul_2021.csv', index = None)

CPU times: user 600 ms, sys: 18.5 ms, total: 619 ms
Wall time: 620 ms

In [182]:
# apt를 z 파일로 저장합니다.
%time joblib.dump(value = apt, filename = 'APT_List_Seoul_2021.z')

CPU times: user 120 ms, sys: 6.17 ms, total: 126 ms
Wall time: 126 ms

['APT_List_Seoul_2021.z']

## End of Document